$htmlfontsize: 75;

$headerBg: #2a2b2f;
$headerC: #fff;
$headerHC:#50d2c2;
$headH:65px;
$headNavFontsize:14px;

$btnBg:#50d2c2;
$btnC:#fff;
$selectC:#50d2c2;


$bodyFontSize:12px;


$header-h: 60px;
$aside-w: 220px;
$aside-s-w:80px;

$menu-h:60px;


$main-left:20px;
$main-right:20px;

//搜索员工的下拉列表高度
$head-liH: 55px;

//按钮高度
$drop-btnH:35px;

//底部分页高度
$pageH:0;

//边框颜色
$borderC:#e7e7e7;

//选中字体颜色
$color:#50d2c2;

//字体颜色
$textC:#383838;


$lineColor:#39aea0;

