@import 'common/common';
.contents.phone-statistics {
  position: fixed;
  top: 110px;
  left: 0.5%;
  bottom: 0;
  .rightPage {
    padding: 0;
    height: 100%;
  }
}
.phone-Bmap {
  position: absolute;
  width: 100%;
  bottom: 0;
  top: 43px;
  .table-tlt + & {
    top: 94px;
  }
  .map {
    width: 100%;
    height: 100%;
  }
}
.Bmap-box {
  position: absolute;
  width: 100%;
  bottom: 0;
  top: 0;
  .map-search + & {
    top: 70px;
  }
}
// .Bmap-list{
//   position:absolute;
//   z-index:9;
//   top:5px;
//   left:5px;
//   width:250px;
//   font-size:12px;
//   line-height:24px;
//   max-height:98%;
//   overflow:auto;
//   background:#fff;
// }
// .Bmap-li{
//   position:relative;
//   padding:10px 30px 10px 50px;
//   border-bottom:1px solid #d4d4d4;
//   cursor:pointer;

//   &:hover,&.active{
// background:#f6f6f6;
// .Bmap-index{
//   background:#3ecbbb;
// }
//   }
//   &:before,&:after{
//     content:'';
//     position:absolute;
//     top:50px;
//     border-width:5px 0 5px 5px;
//     border-style:solid;
//   }
//   &:before{
//     right:15px;
//     border-color:transparent transparent transparent #999;
//   }
//   &:after{
//     right:16px;
//     border-color:transparent transparent transparent #fff;
//   }
// }
// .Bmap-name{
//   font-size:14px;
// }
// .Bmap-index{
//   position:absolute;
//   top:10px;
//   left:17px;
//   min-width:25px;
//   font-size:12px;
//   line-height:25px;
//   text-align:center;
//   color:#fff;
//   background: #f34235;
//   border-radius:50%;
//   &.Bmap-index-over{
//     background:#f90;
//   }
// }

.Bmap-point,
.Bmap-route-point {
  position: absolute;
  z-index: 1;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
  line-height: 32px;
  height: 32px;
  &:before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    border-width: 22px 16px 0;
    border-style: solid;
  }
  &:hover {
    z-index: 9;
    .Bmap-point-box {
      display: block;
    }
  }
}
.Bmap-point,
.Bmap-point-end {
  background: #f34235;
  &:before {
    border-color: #f34235 transparent transparent;
  }
}
.Bmap-point-start {
  background: #4ed2c1;
  &:before {
    border-color: #4ed2c1 transparent transparent;
  }
}
.Bmap-point-default {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #4ed2c1;
  border-radius: 50%;
  &:before {
    content: '';
    position: absolute;
    bottom: 12px;
    left: -8px;
    width: 26px;
    height: 26px;
    background: url('../images/pass.png') no-repeat;
    background-size: contain;
    border: 0;
  }
}
.Bmap-point-default {
  .Bmap-point-box {
    top: -42px;
  }
}

.Bmap-point {
  min-width: 32px;
  &-box {
    position: absolute;
    left: 50%;
    top: -15px;
    min-width: 50px;
    transform: translate3d(-50%, -100%, 0);
    z-index: 9999;
    padding: 10px;
    line-height: 20px;
    color: #383838;
    white-space: nowrap;
    background: #fff;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    text-align: left;
    display: none;
    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      border-width: 12px 12px 0;
      border-style: solid;
    }
    &:before {
      bottom: -12px;
      border-color: #d4d4d4 transparent transparent;
    }
    &:after {
      bottom: -11px;
      border-color: #fff transparent transparent;
    }
  }
  &-num {
    position: relative;
    min-width: 32px;
    display: inline-block;
    z-index: 9;
  }
  &-name {
    font-size: 14px;
    font-weight: bold;
  }
  &:hover {
    background: #50d2c2;
    z-index: 999;
    &:before {
      border-color: #50d2c2 transparent transparent;
    }
    // .Bmap-point-box{
    //   display:block;
    // }
  }
}
// .Bmap-li-over{
//   display:inline-block;
//   // font-size:
//   vertical-align: middle;

// }
// .mark{
//   display:inline-block;
//   width:3px;
//   height:20px;
//   margin:0 5px;
//   background:url('../images/mark.png') no-repeat;
//   background-size:contain;
// }
// .Bmap-tip{
//   position:relative;
//   display:inline-block;
//   width:14px;
//   height:14px;
//   background:url('../images/tip.png') no-repeat;
//   background-size:contain;
//   &-box{
//     display:none;
//     position:absolute;
//     top:50%;
//     left:25px;
//     transform:translateY(-50%);
//     white-space:nowrap;
//     padding:5px 10px;
//     font-size:12px;
//     line-height:24px;
//     background:#ededed;
//     border-radius:4px;
//     &:before{
//       content:'';
//       position:absolute;
//       top:50%;
//       left:-8px;
//       transform:translateY(-50%);
//       border-width:8px 8px 8px 0;
//       border-style:solid;
//       border-color:transparent #ededed transparent transparent;
//     }
//     .Bmap-tip:hover &{
//       display:block;
//     }
//   }
// }
.search-input {
  margin: 20px 10px;
  .input {
    // float:left;
    width: 100%;
    padding: 5px;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    box-sizing: border-box;
  }
}

.time-search {
  display: inline-block;
  margin-right: 15px;
  &-name {
    font-size: 14px;
  }
}

.range {
  width: 520px;
  display: inline-block;
  margin-left: 15px;
  // margin-right:30px;
  min-height: 30px;
}
.hiddenMap {
  display: none;
}
.Bmap-route {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 250px;
  padding: 10px;
  overflow: auto;
  max-height: 90%;
  line-height: 24px;
  background: #fff;
}
.route-title {
  padding-bottom: 15px;
  font-size: 18px;
}
.route-content {
  display: none;
}
.route-li-title {
  padding: 5px 10px;
  position: relative;
  background: #eefaf9;
  color: #333;
  border-bottom: 1px solid #fff;
  cursor: pointer;
  // &:hover{
  //   background:#f4f4f4;
  // }
  .arrow {
    position: absolute;
    right: 27px;
    &:before,
    &:after {
      position: absolute;
      content: '';
      display: inline-block;
      border-width: 8px 8px 0;
      border-style: solid;
      border-color: #000 transparent transparent;
    }
    &:before {
      top: 11px;
      border-color: #999 transparent transparent;
    }
    &:after {
      top: 9px;
      border-color: #eefaf9 transparent transparent;
    }
  }
  &.active {
    + .route-content {
      display: block;
    }
    .arrow {
      &:before {
        top: 9px;
        border-width: 0 8px 8px;
        border-color: transparent transparent #999;
      }
      &:after {
        top: 11px;
        border-width: 0 8px 8px;
        border-color: transparent transparent #eefaf9;
      }
    }
  }
}
.route-content-list {
  padding: 10px;
  border-bottom: 1px solid #d4d4d4;
  font-size: 12px;
  &:last-child {
    border-bottom: 0;
  }
}
.route-text {
  @include clearfix;
}
.route-name {
  float: left;
  width: 60px;
}
.route-info {
  margin-left: 60px;
  span {
    position: relative;
    display: inline-block;
    padding: 0 5px;
    margin: 0 5px 5px 0;
    border-radius: 4px;
    background: #4ed2c1;
    color: #fff;
    line-height: 1.8;
    cursor: pointer;
  }
}
.wxlist {
  display: none;
  position: absolute;
  z-index: 9;
  left: 0;
  bottom: 20px;
  color: #333;
  background: #fff;
  white-space: nowrap;
  border-radius: 5px;
  line-height: 24px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  .wxName {
    padding: 2px 10px;
    &:hover {
      background: #d4d4d4;
    }
  }
  img {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    vertical-align: middle;
  }
  .route-info span:hover & {
    display: block;
  }
}
// .route-danger{
//   color:#f34235;
// }
// .search-input{
//   .f_screen{
//     font-size: 14px;
//     font-weight: 100;
//     padding-right: 33px;
//     .b-icon{
//       display: block;
//       top: 3px;
//       bottom: auto;
//       right: 15px;
//       width: 10px;
//       height: 6px;
//       position: absolute;
//       background: url(../images/select-icon-2.gif) no-repeat;
//     }
//   }
// }
.route-point-text,
.route-point-name {
  display: inline-block;
}
.route-point-text {
  margin-left: 15px;
}
.route-point-name {
  font-weight: bold;
}
.stay-icon {
  padding-left: 20px;
  position: relative;
  i {
    position: absolute;
    left: 0px;
    top: 1px;
    background: #f34235;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    &:before {
      content: '';
      position: absolute;
      bottom: -6px;
      border-width: 11px 7px 0;
      border-style: solid;
      border-color: #f34235 transparent transparent;
    }
    &:after {
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      width: 6px;
      height: 6px;
      background: #fff;
      border-radius: 50%;
    }
  }
}
.filter-btn {
  float: right;
  margin-right: 20px;
  font-size: 14px;
  line-height: 40px;
  color: #999;
  cursor: pointer;
}
.filter-icon {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  background: url('../images/filter.png') no-repeat;
  background-size: contain;
}
// .filter-box{
//   display: none;
//   position:fixed;
//   width:100%;
//   right:0;
//   top:0;
//   bottom:0;
//   background: rgba(0,0,0,.5);
//   z-index: 9;
//   &.active{
//     display: block;
//   }
// }
.filter-box {
  height: 375px;
  margin-top: -187px;
}
.filter-content {
  // position:absolute;
  // width:800px;
  // top:50%;
  // left:50%;
  // transform:translate3d(-50%,-50%,0);
  padding: 20px;
  background: #fff;
  select {
    width: 140px;
    height: 30px;
    // margin: 10px 40px 0 10px;
    border-radius: 3px;
    border: 1px solid #d4d4d4;
  }
  input[type='text'] {
    width: 140px;
    padding: 0 10px;
    height: 28px;
    // margin:10px 40px 0 10px;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    box-sizing: border-box;
  }
}
.filter-list {
  display: inline-block;
  margin: 10px;
  label {
    display: inline-block;
    width: 90px;
    margin-right: 10px;
    text-align: right;
    font-size: 14px;
    font-weight: bolder;
  }
}
.filter-center {
  margin: 20px 0;
  text-align: center;
  .btn {
    margin: 0;
  }
}
.nav-wrap {
  margin: 20px;
}
.nav-btn {
  display: inline-block;
  min-width: 50px;
  padding: 5px 20px;
  text-align: center;
  margin-right: 10px;
  font-size: 14px;
  line-height: 24px;
  border: 1px solid #d4d4d4;
  border-radius: 30px;
  cursor: pointer;
  &.active,
  &:hover {
    color: #fff;
    background: #4ed2c1;
    border-color: #4ed2c1;
  }
}
.echarts-wrap {
  .charts {
    min-height: 300px;
  }
}
.list-return {
  display: inline-block;
  padding: 0 10px;
  margin-top: -6px;
  margin-left: 5px;
  line-height: 30px;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  vertical-align: top;
  font-size: 14px;
  font-weight: normal;
  i {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-bottom: -3px;
    margin-right: 3px;
    background: url('../images/return.png') no-repeat;
    background-size: contain;
  }
}
