@charset "UTF-8";.bg-wrap,body,html{height:100%}
.bg-wrap,body{position:relative}
.login-box,.login-tap,.reg_f button,.regist_t,a.a-1,a.a-2{text-align:center}
.phone_red,.reg_qysbm,.yzs-li-name{white-space:nowrap}
*,input,select{font-family:'Microsoft YaHei';color:#383838}
.bg-wrap{background:url(../images/login-bg.jpg) no-repeat;background-size:cover;overflow:auto}
.login-box{border-radius:10px;-webkit-border-radius:10px;box-shadow:0 0 6px 1px rgba(0,0,0,.15);width:400px;padding-bottom:50px;padding-top:50px;position:absolute;left:50%;margin-left:-200px;margin-bottom:20px;top:156px;background:#fff}
.login-box input[type=text],.login-box input[type=password]{margin-bottom:30px;width:310px;height:40px;line-height:40px;font-size:16px;padding:5px;background:#f9f9f9;border:1px solid #d4d4d4;border-radius:4px;-webkit-border-radius:4px}
.login-box input[type=text].error,.login-box input[type=password].error{border-color:#C1272D}
.login-box input.btn{margin-bottom:30px;width:320px;height:42px;font-size:16px;background:#e25956;color:#fff;border:1px solid #e25956;border-radius:4px;cursor:pointer}
.line{width:320px;height:1px;background:#f0f0f0;overflow:hidden}
a.a-1,a.a-2{display:block;width:320px;margin:30px auto 0;height:50px;border-radius:4px;line-height:50px;cursor:pointer}
.loading,.loading-login{display:none;z-index:999999999;right:0;bottom:0}
.loading-login:after,.loading:after{content:url(../images/loding.gif);width:124px;height:124px;margin-top:-62px;margin-left:-62px}
a.a-1{border:1px solid #d4d4d4;color:#999}
a.a-2{border:1px solid #e25956;color:#e25956}
.loading{position:fixed;top:0;left:0;background:url(../images/frame_bg.png);background:rgba(0,0,0,.5)}
.loading:after{position:absolute;top:50%;left:50%}
.loading-login{position:fixed;top:0;left:0;background:url(../images/frame_bg.png);background:rgba(0,0,0,.5)}
.loading-login:after{position:absolute;top:50%;left:50%}
.loading-login:before{content:"第一次加载时间较长，请稍候";display:inline-block;position:absolute;white-space:nowrap;top:50%;width:100%;text-align:center;margin-top:100px;color:#fff}
.reg_qysbm:after,.reg_qysbm:before{content:" "}
.login-tap{color:#d1d1d1;font-size:18px;position:absolute;width:100%;bottom:-78px;line-height:70px}
.lay_show,.layer{position:fixed;display:none}
.layer{top:0;left:0;width:100%;height:100%;z-index:99;background:url(../images/gray-layer.png)}
.lay_show{z-index:9999;width:440px;height:274px;top:50%;left:50%;margin-left:-220px;margin-top:-187px;background:#fff;border-radius:10px;border:1px solid #e3e3e3}
.lay_show .tel-tlt{position:relative;font-weight:700;font-size:18px;padding:21px 0 21px 18px;color:#383838;border-bottom:1px solid #f0f0f0}
.lay_show .tel-tlt i.i{display:inline-block;width:5px;height:17px;background:#e25956;margin-right:10px;float:left}
.lay_show .tel-tlt a.a-closed{display:block;width:14px;height:14px;background:url(../images/a-closed-1.png);position:absolute;top:21px;right:16px}
.reg_f button,.reg_yzm_btn{background:#e25956;cursor:pointer}
.reg_f{padding:30px 20px}
.reg_f button{display:block;width:100%;color:#fff;line-height:50px;border:none;border-radius:5px;font-size:18px;margin-top:30px}
.reg_f button:first-child{margin-top:0}
.regist_t{font-weight:700;font-size:18px;color:#383838;margin-bottom:32px}
.regist_t.successTitle{display:none}
.reg_box_f{padding-top:25px}
.reg_row{position:relative}
.com_f,.phone_red,.reg_qysbm,.reg_qysbm:after,.reg_qysbm:before,.reg_s,.reg_sbm,.reg_yzm_btn{position:absolute}
.reg_yzm_btn{width:140px;height:42px;color:#fff;border:none;border-radius:3px;-webkit-border-radius:3px;font-size:14px;top:5px;right:47px}
.reg_yzm_btn.active{background:#d4d4d4;cursor:default;color:#fff}
.reg_row input.reg_phone_input{padding-right:100px;width:215px}
.reg_row input.reg_qym{padding-right:150px;width:165px}
.reg_sbm{display:inline-block;cursor:pointer;width:20px;height:20px;background:url(../images/tip.png);top:15px;right:53px}
.reg_qysbm{display:none;top:-41px;left:-30px;font-size:12px;line-height:40px;background:#fff;border-radius:3px;-webkit-border-radius:3px;padding:0 14px;box-shadow:0 0 3px 3px rgba(0,0,0,.1)}
.com_info,.phone_red,.reg_like,.staff_t{font-size:14px}
.reg_qysbm:after{bottom:-8px;left:359px;border:7px solid transparent;border-top:8px solid #fff;border-bottom:none}
.reg_qysbm:before{bottom:-9px;left:358px;border:8px solid transparent;border-top:9px solid #e1e0e0;border-bottom:none}
.reg_sbm:hover+.reg_qysbm{display:block}
.phone_red{bottom:5px;left:40px;line-height:20px;color:#c11920;display:none}
.reg_jindu{margin:0 111px 25px}
.jindu{display:inline-block;width:30px;height:30px;line-height:30px;color:#fff;background:#d4d4d4;border-radius:15px}
.jindu1,.reg_jindu.active .jindu2,.reg_jindu.active2 .jindu2,.reg_jindu.active2 .jindu3{background:#e25956}
.jd_line:after,.jd_line:before{content:"";display:inline-block;background:url(../images/reg_dian.png);height:4px;float:left}
.jd_line{margin:12px 6px}
.jd_line:before{width:53px}
.jd_line:after{width:50px}
.reg_jindu .jd_line1:before,.reg_jindu.active .jd_line1:after,.reg_jindu.active .jd_line2:before,.reg_jindu.active2 .jd_line1:after,.reg_jindu.active2 .jd_line2:after,.reg_jindu.active2 .jd_line2:before{background-image:url(../images/reg_dian1.png)}
.com_f{width:320px;left:39px;top:51px;background:#fff;border:1px solid #d4d4d4;display:none}
.com_info{padding:0 14px;line-height:38px;text-align:left;cursor:pointer}
.com_true,.reg_clear,.staff_look{right:40px;padding:0 10px}
.staff_t{color:#383838;line-height:24px}
.staff_t span{margin:0 6px;color:#383838}
.add_com,.reg_clear,.reg_tip a,.staff_look{color:#e25956;cursor:pointer}
.staff li{float:left;margin-right:22px;margin-top:15px;cursor:pointer}
.staff li span{display:block;text-align:center}
.staff li img{width:40px;height:40px;border-radius:50%;-webkit-border-radius:50%;border:4px solid transparent}
.staff li.active img{border:4px solid #e25956}
.staff_show{height:auto;margin-top:0;transform:translate3d(0,-50%,0);-webkit-transform:translate3d(0,-50%,0);max-height:600px;overflow-y:auto}
.reg_2,.reg_3{display:none}
.reg_3{position:relative}
.reg_3 .reg_row{margin-bottom:40px}
.reg_s{top:-28px;border-radius:10px;-webkit-border-radius:10px;width:100%;height:135px;background:url(../images/regist_s.png) 100% 100% no-repeat}
.com_true,.reg_clear,.reg_row label.bt,.staff_look{position:absolute;line-height:50px;top:0}
.reg_like{text-align:center;margin-bottom:30px;font-weight:700}
.reg_like span{margin-bottom:18px;display:inline-block;font-size:20px}
.reg_select{width:320px;border:1px solid #d4d4d4;height:50px;line-height:50px;font-size:16px;margin-bottom:30px;background:#f9f9f9;border-radius:4px;-webkit-border-radius:4px}
.login-t,.yzs-tab-t{font-weight:700;font-size:18px}
.yzs-frame,.yzs-keyword{border-radius:10px;z-index:999999}
.add_com{text-align:left;margin:0 40px 36px}
.reg_tip{text-align:center;margin:0 0 20px}
.reg_tip a{margin:0 5px}
.staff_look{display:none}
.com_true{color:#C1272D;cursor:pointer;display:none}
.pswerror{margin:0 40px 20px;color:#c1272d;text-align:left;display:none}
.login-t,.required-t,.yzs-tab-t{text-align:center}
.reg_row label.bt{left:20px}
.bt_t{line-height:40px}
.bt_t.error{display:none;color:#C1272D}
body.yzs-f{background-image:url(../images/yzs-login.jpg);border-top:4px solid #e25956}
.login-t{line-height:61px;margin-top:-43px}
.yzs-frame{position:fixed;display:none;top:50%;left:50%;width:1200px;height:540px;padding:30px 0;margin-top:-300px;margin-left:-600px;background:#fff;-webkit-border-radius:10px;-moz-border-radius:10px}
.yzs-tab{position:relative;float:left;width:33.25%;height:100%;border-left:1px solid #e5e5e5}
.yzs-tab-t{position:relative}
.required-t{margin:37px auto}
.yzs-input-f{margin:0 40px 29px}
.yzs-input-f label{color:#ff4a4a}
.yzs-input{width:265px;padding:0 20px;height:43px;line-height:43px;font-size:16px;background:#f9f9f9;border:1px solid #d4d4d4;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px}
.yzs-input-tips{padding:0 40px 0 52px;margin-top:-15px;line-height:25px;font-size:12px}
.yzs-input-tips b{color:#999}
.yzs-tab-btnf{position:absolute;bottom:0;width:320px;left:50%;margin-left:-160px;text-align:right}
.yzs-btn{width:320px;margin:0 auto 20px;cursor:pointer;line-height:50px;background:#e25956;border:none;color:#fff;text-align:center;font-size:18px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px}
.yzs-tab-btnf a{color:#e25956;display:inline-block;cursor:pointer}
.yzs-tab-list{position:absolute;top:47px;left:38px;right:38px;bottom:40px;border:1px solid #f7f8f8;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;overflow-y:auto}
.yzs-tab-li{position:relative;line-height:50px;height:50px}
.yzs-tab-li:nth-child(2n+1){background:#F7F8F8}
.yzs-li-close{position:absolute;top:0;right:21px;cursor:pointer;display:none}
i.ysz-close{display:inline-block;width:14px;height:14px;background:url(../images/yzs-close.png);background-size:100%}
.yzs-li-name{margin:0 40px 0 20px;cursor:pointer;overflow:hidden;text-overflow:ellipsis}
.yzs-tab-li:hover .yzs-li-close{display:block}
.yzs-tab-tbtn{position:absolute;right:30px;top:0;color:#e25956;display:none;font-size:16px;font-weight:400;cursor:pointer}
.yzs-tab-tbtn.modify{display:block}
.yzs-tab-input-f{position:absolute;top:47px;left:38px;right:20px;bottom:0;overflow-y:auto;display:none}
.yzs-tab-input{margin-top:20px}
.yzs-tab-input:first-child{margin-top:0}
.yzs-tab-input textarea{width:265px;padding:12px 20px;height:73px;max-width:265px;max-height:73px;resize:none;line-height:25px;font-size:16px;background:#f9f9f9;border:1px solid #d4d4d4;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px}
.yzs-insearch{margin:10px 30px;text-align:center;padding-top:10px;font-size:14px;display:none}
.yzs-input.disabled,.yzs-tab-input textarea.disabled{color:#999}
.yzs-keyword{position:fixed;display:none;top:50%;left:50%;width:1013px;height:600px;margin-top:-300px;margin-left:-506px;background:#fff;-webkit-border-radius:10px;-moz-border-radius:10px}
.yzs-keyword-l,.yzs-keyword-r{height:100%}
.yzs-keyword-l{float:left;width:610px}
.yzs-keyword-r{float:right;width:400px;border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;box-shadow:0 0 10px rgba(0,0,0,.3);-webkit-box-shadow:0 0 10px rgba(0,0,0,.3);-moz-box-shadow:0 0 10px rgba(0,0,0,.3)}
.yzs-keyword-r .yzs-tab-t{margin-top:30px}
.yzs-keyword-input{margin:30px 40px}
.yzs-keyword-input .yzs-input{width:278px}
.yzs-href{text-align:right;margin:0 40px}
.page-ul li,.yzs-btn-f{text-align:center}
.yzs-href a.href{color:#e25956;cursor:pointer}
.yzs-keyword-input .yzs-tab-input{margin-top:27px}
.page-ul{margin-top:14px;float:right}
.page-ul li{width:26px;height:26px;line-height:26px;font-size:14px;margin-left:10px;border:1px solid #e25956;color:#e25956;border-radius:3px;float:left}
.page-ul li.current,.page-ul li:hover{cursor:pointer;background:#e25956;color:#fff}
.page-p{float:right;font-size:14px;padding:20px 0 0 10px;display:inline-block}
.page-f{position:absolute;bottom:0;left:38px;right:38px;display:none}
.statement-check{text-align:left;margin:0 0 20px 40px}
.statement-check input[type=checkbox]{padding:0;width:0;height:0;overflow:hidden;display:none}
.statement-check input[type=checkbox]:checked~label i{background:url(../images/choose-right.gif) no-repeat}
.statement-check label{display:inline-block;position:relative;padding-left:25px}
.statement-check label a{color:#e25956;text-decoration:underline}
.error,.validate-text.red span{color:#c11920}
.statement-check label i{position:absolute;top:2px;left:0;display:inline-block;width:16px;height:16px;background:url(../images/choose-null.gif) no-repeat}
.statement-f{width:600px;height:450px;margin-left:-300px;margin-top:-225px}
.statement-f .statement{height:340px;overflow-y:auto;padding:20px;line-height:1.7}
.login-box input.btn.disabled{background:#d4d4d4;border:1px solid #d4d4d4}
.account_li{margin-bottom:30px}
.account_name{float:left;width:50px;line-height:45px}
.account_con{margin-left:60px}
.account_con input[type=text].yzs-input{width:210px}
.slider-row{display:none}
.code-img{position:absolute;top:0;right:40px;width:92px;height:52px}
.code-img img{width:100%;height:100%}
.company-list{position:absolute;display:none;width:322px;left:40px;top:50px;background:#fff;z-index:9;box-shadow:0 0 3px rgba(0,0,0,.5);text-align:left;font-size:13px}
.company-list a.company-li{display:block;padding:5px 15px;line-height:24px;text-decoration:none}
.company-list a.company-li:hover{background:#f0f0f0}
.error,.validate-text{position:absolute;top:59px;left:40px;font-size:14px}
.error{display:none}
.input-error+.error{display:block}
.login-box input[type=text].code-input{width:200px;margin-right:110px}
a.link{color:#e25956}
.btn-row input.btn{width:145px;margin-left:30px}
.btn-row input.btn.prev_btn{margin-left:0;background:#d4d4d4;border-color:#d4d4d4}

/*# sourceMappingURL=login.css.map */
