@charset "UTF-8";.month-1,.selectMonth,.selectYear{float:left;position:absolute}
.item,.week-1>h3{text-align:center}
.clearfix:after,.dropdown>.dropdown-menu.custom li.custom:after{clear:both}
.table thead th,.topbar .company{-webkit-filter:dropshadow(color=#000000, offx=1 px, offy=1 px)}
#CalendarMain,#Container,#center,.dayItem,.ui-spinner,div.content-1{overflow:hidden}
.breadcrumbs .bread,.gallery,.ico-prev,.messages,.navi .main-nav,.navi .main-nav>li .collapsed-nav,.quickstats,.quicktasks,.style-switcher .color,.style-switcher .pattern,.topbar .mini,ul.steps{list-style-type:none}
#CalendarMain{width:310px;height:402px;padding:0;margin:20px auto;border-radius:5px;border:1px solid #f0f0f0}
#title{width:100%;height:50px;background-color:#50d2c2;color:#fff}
.selectBtn{font-weight:900;font-size:15px;color:#fff;cursor:pointer;text-decoration:none;padding:17px 10px 6px}
.dropdown>.dropdown-menu.custom li.custom .expand_custom a,.week-1>h3{font-weight:700}
.selectYear{margin-left:50px}
.selectMonth{margin-left:120px}
.currentDay,.nextMonth{float:right}
#context{background-color:#fff;width:310px}
.week-1{width:310px;height:40px}
.week-1>h3{width:44px;float:left;color:grey;margin:20px 0 0;padding:0;font-size:16px}
.dayItem{float:left}
.lastItem{visibility:hidden;color:#f0f0f0}
.item{width:42px;color:#333;float:left;cursor:pointer;margin:0;font-family:"微软雅黑";font-size:13px;position:relative}
.item i{position:absolute;bottom:10px;left:20px;display:block;width:5px;height:5px}
.currentItem>a,.item.nowitem>a{width:35px;line-height:45px;display:inline-block}
.item i.blue{background:url(../images/blue-dian.png) no-repeat}
.item i.white{background:url(../images/white-dian.png) no-repeat}
.item i.red{background:url(../images/red-dian.png) no-repeat}
.item:hover{color:#b9121b}
.currentItem>a{background-color:#50d2c2;color:#fff}
.currentItem i.blue,.currentItem i.red{background:url(../images/white-dian.png) no-repeat}
.btn-blue1,.btn-blue2,.btn-blue3,.btn-blue4,.btn-blue5,.btn-blue7,.btn-blue8,.btn-dr,.btn-fb,.btn-fo,.btn-gray1,.btn-gray2,.btn-gray3,.btn-gray4,.btn-gray5,.btn-gray6,.btn-gray7,.btn-gray8,.btn-green1,.btn-green2,.btn-green3,.btn-green4,.btn-green5,.btn-green6,.btn-green7,.btn-green8,.btn-red1,.btn-red2,.btn-red3,.btn-red4,.btn-red5,.btn-red6,.btn-red7,.btn-red8,.btn-twitter{background-repeat:repeat-x}
.item.nowitem>a{margin:5px auto}
.item.nowitem:hover>a{background-color:#50d2c2;color:#fff}
#Container{float:left}
#center{width:100%}
#centerMain{width:300%;margin-left:-100%}
#selectMonthDiv>div,#selectYearDiv>div{font-family:"微软雅黑";font-size:16px;border:1px solid #ccc;margin-left:-1px;margin-top:-1px;float:left;cursor:pointer;text-align:center}
#selectYearDiv{float:left;background-color:#fff}
#selectYearDiv>div{color:#909090}
.currentMontSd,.currentYearSd{color:#f40!important}
#selectMonthDiv{float:left;background-color:#fff}
#selectMonthDiv>div{color:#909090}
.btn-dr,.btn-dr:hover,.btn-fb,.btn-fb:hover,.btn-fo,.btn-fo:hover,.btn-gray1:hover,.btn-gray2,.btn-gray2:hover,.btn-gray3,.btn-gray3:hover,.btn-gray4,.btn-gray4:hover,.btn-gray5,.btn-gray5:hover,.btn-twitter,.btn-twitter:hover{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,.25)}
#selectMonthDiv>div:hover,#selectYearDiv>div:hover{background-color:#efefef}
#centerCalendarMain{float:left}
.clearfix:after,.clearfix:before{display:table;content:""}
.btn-twitter{background-color:#35b4de;border-color:#1fa8d6 #1fa8d6 #157493;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25)}
.btn-twitter.active,.btn-twitter.disabled,.btn-twitter:active,.btn-twitter:hover,.btn-twitter[disabled]{background-color:#1fa8d6}
.btn-twitter.active,.btn-twitter:active{background-color:#1885aa\9}
.btn-fb{background-color:#4777bb;border-color:#3868ac #3868ac #254572;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25)}
.btn-fb.active,.btn-fb.disabled,.btn-fb:active,.btn-fb:hover,.btn-fb[disabled]{background-color:#3868ac}
.btn-fb.active,.btn-fb:active{background-color:#2c5085\9}
.btn-dr{background-color:#ae4a4a;border-color:#9b3e3e #9b3e3e #642828;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25)}
.btn-dr.active,.btn-dr.disabled,.btn-dr:active,.btn-dr:hover,.btn-dr[disabled]{background-color:#9b3e3e}
.btn-dr.active,.btn-dr:active{background-color:#772f2f\9}
.btn-fo{background-color:#559824;border-color:#477f1e #477f1e #24410f;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25)}
.btn-fo.active,.btn-fo.disabled,.btn-fo:active,.btn-fo:hover,.btn-fo[disabled]{background-color:#477f1e}
.btn-fo.active,.btn-fo:active{background-color:#305614\9}
.btn-gray1{background-color:#292929;border-color:#1a1a1a #1a1a1a #000;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,.25)}
.btn-gray1.active,.btn-gray1.disabled,.btn-gray1:active,.btn-gray1:hover,.btn-gray1[disabled]{background-color:#1a1a1a}
.btn-gray1.active,.btn-gray1:active{background-color:#000\9}
.btn-gray2{background-color:#424242;border-color:#333 #333 #0d0d0d;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25)}
.btn-gray2.active,.btn-gray2.disabled,.btn-gray2:active,.btn-gray2:hover,.btn-gray2[disabled]{background-color:#333}
.btn-gray2.active,.btn-gray2:active{background-color:#1a1a1a\9}
.btn-gray3{background-color:#5c5c5c;border-color:#4d4d4d #4d4d4d #262626;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25)}
.btn-gray3.active,.btn-gray3.disabled,.btn-gray3:active,.btn-gray3:hover,.btn-gray3[disabled]{background-color:#4d4d4d}
.btn-gray3.active,.btn-gray3:active{background-color:#333\9}
.btn-gray4{background-color:#757575;border-color:#666 #666 #404040;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25)}
.btn-gray4.active,.btn-gray4.disabled,.btn-gray4:active,.btn-gray4:hover,.btn-gray4[disabled]{background-color:#666}
.btn-gray4.active,.btn-gray4:active{background-color:#4d4d4d\9}
.btn-gray5{background-color:#8f8f8f;border-color:grey grey #595959;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25)}
.btn-gray5.active,.btn-gray5.disabled,.btn-gray5:active,.btn-gray5:hover,.btn-gray5[disabled]{background-color:grey}
.btn-gray5.active,.btn-gray5:active{background-color:#666\9}
.btn-gray6,.btn-gray6:hover,.btn-gray7,.btn-gray7:hover,.btn-gray8,.btn-gray8:hover{color:#333;text-shadow:0 1px 1px rgba(255,255,255,.75)}
.btn-gray6{background-color:#a8a8a8;border-color:#999 #999 #737373;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25)}
.btn-gray6.active,.btn-gray6.disabled,.btn-gray6:active,.btn-gray6:hover,.btn-gray6[disabled]{background-color:#999}
.btn-gray6.active,.btn-gray6:active{background-color:grey\9}
.btn-gray7{background-color:#c2c2c2;border-color:#b3b3b3 #b3b3b3 #8c8c8c;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25)}
.btn-gray7.active,.btn-gray7.disabled,.btn-gray7:active,.btn-gray7:hover,.btn-gray7[disabled]{background-color:#b3b3b3}
.btn-gray7.active,.btn-gray7:active{background-color:#999\9}
.btn-gray8{background-color:#dbdbdb;border-color:#ccc #ccc #a6a6a6;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25)}
.btn-gray8.active,.btn-gray8.disabled,.btn-gray8:active,.btn-gray8:hover,.btn-gray8[disabled]{background-color:#ccc}
.btn-gray8.active,.btn-gray8:active{background-color:#b3b3b3\9}
.btn-blue1,.btn-blue1:hover,.btn-blue2,.btn-blue2:hover,.btn-blue3:hover,.btn-blue4,.btn-blue4:hover,.btn-blue5,.btn-blue5:hover{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,.25)}
.btn-blue1{background-color:#112154;border-color:#0c173b #0c173b #000;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25)}
.btn-blue1.active,.btn-blue1.disabled,.btn-blue1:active,.btn-blue1:hover,.btn-blue1[disabled]{background-color:#0c173b}
.btn-blue1.active,.btn-blue1:active{background-color:#030711\9}
.btn-blue2{background-color:#1a327e;border-color:#152865 #152865 #080f26;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25)}
.btn-blue2.active,.btn-blue2.disabled,.btn-blue2:active,.btn-blue2:hover,.btn-blue2[disabled]{background-color:#152865}
.btn-blue2.active,.btn-blue2:active{background-color:#0c173b\9}
.btn-blue3{background-color:#2343a9;border-color:#1e398f #1e398f #112050;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,.25)}
.btn-blue3.active,.btn-blue3.disabled,.btn-blue3:active,.btn-blue3:hover,.btn-blue3[disabled]{background-color:#1e398f}
.btn-blue3.active,.btn-blue3:active{background-color:#152865\9}
.btn-blue4{background-color:#3458cb;border-color:#2749b9 #2749b9 #19307a;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25)}
.btn-blue4.active,.btn-blue4.disabled,.btn-blue4:active,.btn-blue4:hover,.btn-blue4[disabled]{background-color:#2749b9}
.btn-blue4.active,.btn-blue4:active{background-color:#1e398f\9}
.btn-blue5{background-color:#5676dc;border-color:#3c61d7 #3c61d7 #2241a4;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25)}
.btn-blue5.active,.btn-blue5.disabled,.btn-blue5:active,.btn-blue5:hover,.btn-blue5[disabled]{background-color:#3c61d7}
.btn-blue5.active,.btn-blue5:active{background-color:#2749b9\9}
.btn-blue6,.btn-blue6:hover,.btn-blue7,.btn-blue7:hover,.btn-blue8,.btn-blue8:hover{color:#333;text-shadow:0 1px 1px rgba(255,255,255,.75)}
.btn-blue6{background-color:#8098e5;background-repeat:repeat-x;border-color:#6783df #6783df #2b52cf;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25)}
.btn-blue6.active,.btn-blue6.disabled,.btn-blue6:active,.btn-blue6:hover,.btn-blue6[disabled]{background-color:#6783df}
.btn-blue6.active,.btn-blue6:active{background-color:#3c61d7\9}
.btn-blue7{background-color:#aabaed;border-color:#91a6e8 #91a6e8 #5272db;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25)}
.btn-blue7.active,.btn-blue7.disabled,.btn-blue7:active,.btn-blue7:hover,.btn-blue7[disabled]{background-color:#91a6e8}
.btn-blue7.active,.btn-blue7:active{background-color:#6783df\9}
.btn-blue8{background-color:#d4dcf6;border-color:#bbc8f1 #bbc8f1 #7c94e4;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25)}
.btn-blue8.active,.btn-blue8.disabled,.btn-blue8:active,.btn-blue8:hover,.btn-blue8[disabled]{background-color:#bbc8f1}
.btn-blue8.active,.btn-blue8:active{background-color:#91a6e8\9}
.btn-red1,.btn-red1:hover,.btn-red2,.btn-red2:hover,.btn-red3:hover,.btn-red4,.btn-red4:hover,.btn-red5,.btn-red5:hover{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,.25)}
.btn-red1{background-color:#541111;border-color:#3b0c0c #3b0c0c #000;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25)}
.btn-red1.active,.btn-red1.disabled,.btn-red1:active,.btn-red1:hover,.btn-red1[disabled]{background-color:#3b0c0c}
.btn-red1.active,.btn-red1:active{background-color:#110303\9}
.btn-red2{background-color:#7e1a1a;border-color:#651515 #651515 #260808;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25)}
.btn-red2.active,.btn-red2.disabled,.btn-red2:active,.btn-red2:hover,.btn-red2[disabled]{background-color:#651515}
.btn-red2.active,.btn-red2:active{background-color:#3b0c0c\9}
.btn-red3{background-color:#a92323;border-color:#8f1e1e #8f1e1e #501111;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,.25)}
.btn-red3.active,.btn-red3.disabled,.btn-red3:active,.btn-red3:hover,.btn-red3[disabled]{background-color:#8f1e1e}
.btn-red3.active,.btn-red3:active{background-color:#651515\9}
.btn-red4{background-color:#cb3434;border-color:#b92727 #b92727 #7a1919;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25)}
.btn-red4.active,.btn-red4.disabled,.btn-red4:active,.btn-red4:hover,.btn-red4[disabled]{background-color:#b92727}
.btn-red4.active,.btn-red4:active{background-color:#8f1e1e\9}
.btn-red5{background-color:#dc5656;border-color:#d73c3c #d73c3c #a42222;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25)}
.btn-red5.active,.btn-red5.disabled,.btn-red5:active,.btn-red5:hover,.btn-red5[disabled]{background-color:#d73c3c}
.btn-red5.active,.btn-red5:active{background-color:#b92727\9}
.btn-red6,.btn-red6:hover,.btn-red7,.btn-red7:hover,.btn-red8,.btn-red8:hover{color:#333;text-shadow:0 1px 1px rgba(255,255,255,.75)}
.btn-red6{background-color:#e58080;border-color:#df6767 #df6767 #cf2b2b;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25)}
.btn-red6.active,.btn-red6.disabled,.btn-red6:active,.btn-red6:hover,.btn-red6[disabled]{background-color:#df6767}
.btn-red6.active,.btn-red6:active{background-color:#d73c3c\9}
.btn-red7{background-color:#edaaaa;border-color:#e89191 #e89191 #db5252;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25)}
.btn-red7.active,.btn-red7.disabled,.btn-red7:active,.btn-red7:hover,.btn-red7[disabled]{background-color:#e89191}
.btn-red7.active,.btn-red7:active{background-color:#df6767\9}
.btn-red8{background-color:#f6d4d4;border-color:#f1bbbb #f1bbbb #e47c7c;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25)}
.btn-red8.active,.btn-red8.disabled,.btn-red8:active,.btn-red8:hover,.btn-red8[disabled]{background-color:#f1bbbb}
.btn-red8.active,.btn-red8:active{background-color:#e89191\9}
.btn-green1,.btn-green1:hover,.btn-green2,.btn-green2:hover,.btn-green3:hover,.btn-green4,.btn-green4:hover,.btn-green5,.btn-green5:hover{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,.25)}
.btn-green1{background-color:#0e3c09;border-color:#082205 #082205 #000;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25)}
.btn-green1.active,.btn-green1.disabled,.btn-green1:active,.btn-green1:hover,.btn-green1[disabled]{background-color:#082205}
.btn-green1.active,.btn-green1:active{background-color:#000\9}
.btn-green2{background-color:#186910;border-color:#124e0c #124e0c #030c02;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25)}
.btn-green2.active,.btn-green2.disabled,.btn-green2:active,.btn-green2:hover,.btn-green2[disabled]{background-color:#124e0c}
.btn-green2.active,.btn-green2:active{background-color:#082205\9}
.btn-green3{background-color:#229517;border-color:#1c7a13 #1c7a13 #0d3809;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,.25)}
.btn-green3.active,.btn-green3.disabled,.btn-green3:active,.btn-green3:hover,.btn-green3[disabled]{background-color:#1c7a13}
.btn-green3.active,.btn-green3:active{background-color:#124e0c\9}
.btn-green4{background-color:#2dc11e;border-color:#26a61a #26a61a #17640f;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25)}
.btn-green4.active,.btn-green4.disabled,.btn-green4:active,.btn-green4:hover,.btn-green4[disabled]{background-color:#26a61a}
.btn-green4.active,.btn-green4:active{background-color:#1c7a13\9}
.btn-green5{background-color:#45dc36;border-color:#31d320 #31d320 #219016;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25)}
.btn-green5.active,.btn-green5.disabled,.btn-green5:active,.btn-green5:hover,.btn-green5[disabled]{background-color:#31d320}
.btn-green5.active,.btn-green5:active{background-color:#26a61a\9}
.btn-green6,.btn-green6:hover,.btn-green7,.btn-green7:hover,.btn-green8,.btn-green8:hover{color:#333;text-shadow:0 1px 1px rgba(255,255,255,.75)}
.btn-green6{background-color:#6be65e;border-color:#52e244 #52e244 #2cbd1d;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25)}
.btn-green6.active,.btn-green6.disabled,.btn-green6:active,.btn-green6:hover,.btn-green6[disabled]{background-color:#52e244}
.btn-green6.active,.btn-green6:active{background-color:#31d320\9}
.btn-green7{background-color:#93ed8b;border-color:#7be970 #7be970 #3edf2e;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25)}
.btn-green7.active,.btn-green7.disabled,.btn-green7:active,.btn-green7:hover,.btn-green7[disabled]{background-color:#7be970}
.btn-green7.active,.btn-green7:active{background-color:#52e244\9}
.btn-green8{background-color:#bcf4b7;border-color:#a4f09c #a4f09c #67e65a;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25)}
.btn-green8.active,.btn-green8.disabled,.btn-green8:active,.btn-green8:hover,.btn-green8[disabled]{background-color:#a4f09c}
.btn-green8.active,.btn-green8:active{background-color:#7be970\9}
.style-switcher,.style-toggler{background:#111;border:1px solid #111;box-shadow:0 0 5px 1px #111;top:100px;position:absolute;z-index:1050}
body,html{height:100%}
.style-toggler{left:-1px;border-radius:3px;padding:10px 0;cursor:pointer}
.style-switcher{border-radius:3px;left:-230px;color:#eee;padding:10px}
.style-switcher .pattern{margin:15px 0}
.style-switcher .pattern li{margin-top:8px;border:1px solid #111}
.style-switcher .pattern li:first-child{margin-top:0}
.style-switcher .pattern li a{display:block;padding:8px 15px;color:#fff;border-radius:3px}
.style-switcher .pattern li a.default{background:url(../img/bg2.png);color:#333}
.style-switcher .pattern li a.dark{background:url(../img/wood-black.jpg)}
.style-switcher .pattern li a.light{background:url(../img/light.jpg);color:#333}
.style-switcher .pattern li a.wood{background:url(../img/wood.jpg);color:#333}
.style-switcher .pattern li a.retina-wood{background:url(../img/retina_wood.png);color:#333}
.style-switcher .pattern li a.linen{background:url(../img/low_contrast_linen.png)}
.style-switcher .pattern li a.paper{background:url(../img/natural_paper.png);color:#333}
.style-switcher .color{margin:10px 0}
.style-switcher .color li{margin-top:8px;border:1px solid #111}
.style-switcher .color li:first-child{margin-top:0}
.style-switcher .color li a{display:block;padding:8px 15px;color:#fff;border-radius:3px}
.style-switcher .color li a.style{background:#222}
.style-switcher .color li a.style:hover{background:#3c3c3c;text-decoration:none}
.style-switcher .color li a.blue{background:#131f2d}
.style-switcher .color li a.blue:hover{background:#223851;text-decoration:none}
.style-switcher .color li a.green{background:#232b1e}
.style-switcher .color li a.green:hover{background:#3b4933;text-decoration:none}
.style-switcher .color li a.red{background:#2f1c1c}
.style-switcher .color li a.red:hover{background:#4f2f2f;text-decoration:none}
.dropdown.open .btn.dropdown-toggle{background:#fff;box-shadow:none;border:1px solid #bbb;z-index:1001;border-bottom:0;border-radius:0}
.dropdown>.dropdown-menu.custom{background:#fff;border-color:#b3b3b3;border-radius:0;box-shadow:0 0 10px #b3b3b3;margin-top:-1px}
.dropdown>.dropdown-menu.custom.custom-dark{border-color:#222;box-shadow:0 0 10px #222}
.dropdown>.dropdown-menu.custom li{float:none}
.dropdown>.dropdown-menu.custom li.custom{min-width:350px}
.dropdown>.dropdown-menu.custom li.custom.custom-hidden{display:none}
.dropdown>.dropdown-menu.custom li.custom:after,.dropdown>.dropdown-menu.custom li.custom:before{display:table;content:""}
.dropdown>.dropdown-menu.custom li.custom:hover{background:#ebebeb}
.dropdown>.dropdown-menu.custom li.custom .expand_custom{padding:5px 0;text-align:center;background:#e6e6e6}
.dropdown>.dropdown-menu.custom li.custom .expand_custom a:hover{text-decoration:underline}
.breadcrumbs .bread li a:hover,.navi .main-nav>li a:hover,.quicktasks li a:hover,.topbar .company:hover,.topbar .mini>li>a:hover{text-decoration:none}
.dropdown>.dropdown-menu.custom li.custom .title{width:250px;padding:5px 10px;float:left;font-weight:700}
.dropdown>.dropdown-menu.custom li.custom .title span{display:block;font-size:11px;font-weight:400}
.dropdown>.dropdown-menu.custom li.custom .title span a{font-size:12px;color:#b94a48}
.dropdown>.dropdown-menu.custom li.custom .action{margin-top:10px;margin-right:10px;float:right}
.dropdown>.dropdown-menu.custom li.custom a{display:inline-block;padding:0;clear:none;font-weight:400;line-height:18px;color:#333;white-space:nowrap}
.cl:after,.content .box .box-content:after,.content .box .box-head .actions>ul:after,.content .box .box-head:after,.content:after,.dataTables_wrapper:after,.gallery:after,.invoice .invoice-footer:after,.invoice .invoice-infos:after,.invoice .invoice-to:after,.messages:after,.quickstats:after,.topbar:after,.userprofile.details:after,ul.steps:after{clear:both}
.navi .main-nav>li .collapsed-nav li.active a,.table .table-unread td{font-weight:700}
.dropdown>.dropdown-menu.custom li.custom a:hover{background:0 0;text-decoration:none}
.dropdown>.dropdown-menu.custom li.custom a.btn-mini{padding:2px 4px}
.dropdown>.dropdown-menu.custom li.custom a.btn-mini img{margin:0}
.dropdown>.dropdown-menu.custom li.custom a.btn-mini:hover{background:#e6e6e6}
.dropdown>.dropdown-menu.custom li.custom a img{position:relative;left:0;top:0}
.dropdown>.dropdown-menu.custom li a{position:relative}
.dropdown>.dropdown-menu.custom li a.fugue{padding-left:35px}
.dropdown>.dropdown-menu.custom li a img{position:absolute;display:block;left:10px;top:4px;margin-right:3px}
.dropdown>.dropdown-menu.custom li a:hover{background:#b94a48}
.topbar{border:1px solid #222;height:52px;background-color:#363636;background-repeat:repeat-x;box-shadow:inset 0 0 2px 2px #414141}
.topbar .mini>li,.topbar input,.topbar input:focus{box-shadow:1px 1px 1px #4b4b4b,inset 1px 1px 0 1px #222}
.topbar:after,.topbar:before{display:table;content:""}
.topbar .company{float:left;margin:15px 0;display:block;color:#eee;font-size:24px;text-shadow:1px 1px 1px #000;filter:dropshadow(color=#000000, offx=1 px, offy=1 px)}
.topbar input{color:#888;margin-left:25px;background:url(../img/magnifier_grey.png) 182px 6px no-repeat #272727;border:0;margin-top:12px;width:195px;padding:7px 0 3px 7px;border-radius:3px}
.topbar input:focus{color:#fff}
.topbar form{margin:0;float:left}
.topbar .mini{margin-top:12px;float:right;padding:0}
.topbar .mini>li{float:left;margin-left:20px;background:#272727;position:relative;border-radius:3px}
.topbar .mini>li:hover{background:#222}
.topbar .mini>li.open{margin-left:18px}
.topbar .mini>li.open>a{color:#080808;background:#fff;border:1px solid #222;border-bottom:0}
.topbar .mini>li.open>a img{opacity:1;filter:alpha(opacity=1)}
.topbar .mini>li.open>a:hover{color:#080808}
.topbar .mini>li>a{color:#888;font-size:12px;line-height:20px;padding:5px 8px 3px;display:block;position:relative;z-index:1001}
.topbar .mini>li>a img{margin-bottom:2px;margin-right:2px;opacity:.3;filter:alpha(opacity=.3)}
.topbar .mini>li>a .label{position:absolute;top:-5px;left:93%}
.topbar .mini>li>a:hover{color:#fff}
.topbar .mini>li>a:hover img{opacity:1;filter:alpha(opacity=1)}
.breadcrumbs{height:27px;border:1px solid #222;border-top:0;background:#222;box-shadow:inset 0 0 2px 1px #313131,0 1px 5px #080808}
.breadcrumbs .bread{height:27px;margin:0}
.breadcrumbs .bread li{position:relative;float:left}
.breadcrumbs .bread li a{display:block;color:#888;padding:5px 10px}
.breadcrumbs .bread li a i{opacity:.3;filter:alpha(opacity=.3)}
.breadcrumbs .bread li a:hover i,.navi .main-nav>li.active a.light .ico i,.navi .main-nav>li.open a.light .ico i{opacity:1;filter:alpha(opacity=1)}
.breadcrumbs .bread li a:hover{color:#fff}
.breadcrumbs .bread li a:after{content:'/';margin-left:15px}
.breadcrumbs .bread li:last-child a:after{content:''}
.breadcrumbs .bread li.active a{color:#fff}
.row-fluid{margin-top:10px}
.row-fluid.no-margin,.row-fluid:first-child{margin-top:-9px}
.row-fluid.no-margin.force-margin,.row-fluid:first-child.force-margin{margin-top:0}
.navi{margin:20px 0;width:220px;float:left}
.navi .main-nav{margin:0;padding:0}
.navi .main-nav>li{position:relative;margin:1px}
.navi .main-nav>li.open a{border-radius:3px 3px 0 0}
.navi .main-nav>li.active a.light,.navi .main-nav>li.open a.light{border:1px solid #272727;color:#eee;background-color:#363636;background-repeat:repeat-x;box-shadow:none}
.navi .main-nav>li.active a.light .ico,.navi .main-nav>li.open a.light .ico{box-shadow:1px 1px 1px #484848,inset 1px 1px 0 1px #222}
.navi .main-nav>li a{display:block;padding:8px 8px 8px 45px;border:1px solid #a6a6a6;border-radius:3px}
.navi .main-nav>li a img{margin-top:7px;float:right;opacity:.7;filter:alpha(opacity=.7)}
.navi .main-nav>li a .label{float:right}
.navi .main-nav>li a.light{color:#333;background-color:#f5f5f5;background-repeat:repeat-x;box-shadow:inset 0 0 1px 1px #fff}
.navi .main-nav>li a.light .ico{box-shadow:1px 1px 1px #eee,inset 1px 1px 0 1px #151515}
.navi .main-nav>li a.light:hover{border:1px solid #272727;color:#eee;background-color:#363636;background-repeat:repeat-x;box-shadow:none}
.navi .main-nav>li a.light:hover .ico{box-shadow:1px 1px 1px #484848,inset 1px 1px 0 1px #222}
.navi .main-nav>li a:hover .ico i{opacity:1;filter:alpha(opacity=1)}
.navi .main-nav>li a .ico{position:absolute;top:5px;left:8px;float:left;background:#272727;width:24px;height:24px;display:block;border-radius:3px}
.navi .main-nav>li a .ico i{opacity:.5;filter:alpha(opacity=.5);margin-top:4px;margin-left:5px}
.navi .main-nav>li .collapsed-nav{margin:0 0 5px;border:2px solid #2f2f2f;border-top:0;background:#2f2f2f;border-radius:0 0 3px 3px}
.navi .main-nav>li .collapsed-nav.closed{display:none}
.navi .main-nav>li .collapsed-nav li{margin:0}
.navi .main-nav>li .collapsed-nav li a{border-radius:0;color:#333;background:#fff;padding:8px;border:0}
.navi .main-nav>li .collapsed-nav li a:before{content:'\00bb';color:#333;margin-right:5px}
div.content-1{padding:20px 0}
.content:after,.content:before{display:table;content:""}
.content .box{margin-top:20px;border-radius:3px;background:#fff}
.content .box:first-child{margin-top:10px}
.content .box .box-head{color:#595959;padding:6px 8px 6px 15px;border-bottom:1px solid #a6a6a6;background-color:#f5f5f5;background-repeat:repeat-x;border-radius:3px 3px 0 0}
.content .box .box-head .label{float:right;margin-top:5px;margin-right:2px}
.content .box .box-head.tabs{padding-right:6px}
.content .box .box-head.tabs ul.nav-pills{margin:1px 0 0;float:right}
.content .box .box-head.tabs ul.nav-pills li a{padding:4px 8px}
.content .box .box-head.tabs ul.nav-pills li.active a{background:#b94a48;color:#fff}
.content .box .box-head.tabs ul.nav-tabs{margin:0;float:right;border:0}
.content .box .box-head.tabs ul.nav-tabs.nav-tabs-main{float:left}
.content .box .box-head.tabs ul.nav-tabs.nav-tabs-main li a{padding:7px 12px;border-color:#a6a6a6}
.content .box .box-head.tabs ul.nav-tabs.nav-tabs-main li.active a{border-bottom:1px solid #fff}
.content .box .box-head.tabs ul.nav-tabs.nav-tabs-main li:first-child a{border-left-color:#a6a6a6;border-radius:3px 0 0}
.content .box .box-head.tabs ul.nav-tabs.nav-tabs-main li:last-child a{border-radius:0 3px 0 0}
.content .box .box-head.tabs ul.nav-tabs li a{margin:0;padding:4px 12px;border:1px solid #ddd;border-left:0;border-radius:0;color:#999}
.content .box .box-head.tabs ul.nav-tabs li a:hover{color:#333}
.content .box .box-head.tabs ul.nav-tabs li.active a{color:#b94a48}
.content .box .box-head.tabs ul.nav-tabs li:first-child a{border-left:1px solid #ddd;border-radius:3px 0 0 3px}
.content .box .box-head.tabs ul.nav-tabs li:last-child a{border-radius:0 3px 3px 0}
.content .box .box-head:after,.content .box .box-head:before{display:table;content:""}
.content .box .box-head.tabs-main{padding:6px 8px 0 6px}
.content .box .box-head h3{font-size:14px;float:left;line-height:27px}
.ui-spinner,.ui-spinner li{line-height:28px}
.content .box .box-head .actions{position:relative;margin-top:2px;float:right}
.content .box .box-head .actions>ul{list-style-type:none;margin:0}
.content .box .box-head .actions>ul:after,.content .box .box-head .actions>ul:before{display:table;content:""}
.content .box .box-head .actions>ul>li{float:left;margin-right:5px}
.content .box .box-head .actions>ul>li:last-child{margin-right:0}
.content .box .box-head .actions>ul>li.open a{position:relative;z-index:1001;box-shadow:none;border-color:#b3b3b3;border-radius:0}
.content .box .box-head .actions>ul>li.open a.btn{background:#fff;border-bottom:0}
.content .box .box-content{background:#fff;padding:15px;border-radius:0 0 2px 2px}
.content .box .box-content:after,.content .box .box-content:before{display:table;content:""}
.content .box .box-content .span-inbox{margin-left:0}
.content .box .box-content.collapse{padding:0}
.content .box .box-content.collapse.in{padding:15px}
.content .box .box-content .force-padding{padding:0 15px}
.content .box .box-content.box-nomargin{padding:0}
.content .box .box-content.box-nomargin .alert{border-radius:0;margin:0}
.content .box .box-content.box-nomargin .table{margin:0}
.green{color:#334c14}
.red{color:#962c2c}
.quickstats li,.quicktasks li a{color:#333;white-space:nowrap;padding:8px 15px;background-color:#f5f5f5;box-shadow:inset 0 0 1px 1px #fff;background-repeat:repeat-x}
.quickstats{margin:5px -5px}
.quickstats:after,.quickstats:before{display:table;content:""}
.quickstats.no-margin{margin:0}
.quickstats li{margin:5px;float:left;border-radius:3px;border:1px solid #a6a6a6}
.quickstats li .small-chart{margin-top:5px;float:left}
.quickstats li .chart-detail{margin-left:10px;float:left}
.quickstats li .chart-detail .amount{font-weight:700;font-size:18px}
.quickstats li .chart-detail .description{display:block;text-align:center}
.quicktasks{margin:5px -5px}
.quicktasks.no-margin{margin:0}
.quicktasks li{display:inline-block;text-align:center;margin:5px}
.quicktasks li a{display:block;border-radius:3px;border:1px solid #a6a6a6}
.quicktasks li a span{margin-top:5px;display:block}
.quicktasks li a:hover{border:1px solid #8c8c8c;background-color:#e8e8e8;background-repeat:repeat-x}
.flot{height:300px}
.messages{margin:0;padding:0}
.messages:after,.messages:before{display:table;content:""}
.messages li{margin-top:15px}
.messages li:first-child{margin:0}
.messages li a img{border-radius:3px}
.messages li.user1 a{float:left}
.messages li .info .detail .time,.messages li.user2 a{float:right}
.messages li.user1 .info{margin-left:50px}
.messages li.user2 .info{margin-right:50px;border-color:#839bcc}
.messages li.user2 .info .arrow{background:url(../img/arrow-right.png) no-repeat;position:absolute;right:-5px;display:block;width:5px;height:9px;left:auto}
.messages li.user2 .info .detail .sender strong{color:#5f7ebd}
.messages li .info{position:relative;background:#fff;border:1px solid #c76e6d;padding:10px;border-radius:3px}
.messages li .info:after,.messages li .info:before{display:table;content:""}
.messages li .info:after{clear:both}
.messages li .info .arrow{background:url(../img/arrow-left.png) no-repeat;position:absolute;left:-5px;display:block;width:5px;height:9px}
.messages li .info .detail{color:#a2a2a2}
.messages li .info .detail .sender strong{color:#b94a48}
.messages li .info .message{margin-top:10px;color:#666}
.messages li .info .message p{border-top:1px solid #e0e0e0;padding:15px 5px;margin:0}
.messages li .info .message p:first-child{padding-bottom:15px;border:0}
.table .table-checkbox{width:10px}
.table.table-bordered{border:0;border-radius:0}
.table.table-bordered thead th{border-color:#bbb;border-radius:0}
.table.table-bordered thead th:first-child{border:0}
.table.table-bordered tbody:first-child,.table.table-bordered tbody:last-child tr:last-child td{border-radius:0}
.table.table-bordered tbody td{border-color:#bbb}
.table.table-bordered tbody td:first-child{border-left:0}
.table thead th{padding:4px;background-color:#f3f3f3;box-shadow:inset 0 0 0 1px #fff;text-align:center;color:#666;font-weight:400;text-shadow:0 1px 0 #fff;filter:dropshadow(color=#000000, offx=1 px, offy=1 px)}
.table tbody tr td{vertical-align:middle}
.table tbody .actions{width:90px}
.table tbody .actions_two{width:60px}
.table tbody .actions_big{width:120px}
.table.dataTable{border-top:1px solid #bbb;border-bottom:1px solid #bbb}
.table.dataTable.dataTable-noheader{border-top:0}
.table.dataTable.dataTable-nofooter{border-bottom:0}
.table.table-media .table-image{width:66px}
.table.table-media .table-image a{padding:2px;border:1px solid #ddd;display:block;float:left;border-radius:2px}
.table.table-media .table-image a:hover{border-color:#999}
.label.label-hidden{display:none}
.gallery{margin:0 0 10px}
.gallery:after,.gallery:before{display:table;content:""}
.gallery.gallery-detail li .info{margin:5px 3px}
.gallery.gallery-detail li .info span{display:block}
.gallery li{margin:10px 0 0 10px;float:left;border:1px solid #bbb;padding:3px;border-radius:3px}
.warningTextareaInfo{color:#b94a48}
.pl_add{margin-right:5px}
.ui-spinner button{height:14px;position:absolute;border:none;width:18px;padding:0;background:url(../img/spinner_arrows.gif) 0 -100px no-repeat;cursor:pointer}
.ui-spinner .ui-spinner-up{top:0;right:0;background-position:0 0}
.ui-spinner .ui-spinner-down{top:14px;right:0;background-position:0 -14px}
.ui-spinner .ui-spinner-up:hover{background-position:-18px 0}
.ui-spinner .ui-spinner-down:hover{background-position:-18px -14px}
.ui-spinner input,.ui-spinner input:focus{margin-top:2px;display:block!important;-ms-box-shadow:none!important;box-shadow:none!important;outline:0!important}
.content .box-content .ui-slider-handle.ui-state-focus,table.table thead tr th:focus{outline:0}
.ui-spinner ul{margin:0}
.ui-spinner{box-shadow:inset 0 1px 1px rgba(0,0,0,.075);position:relative;font-size:13px;height:28px;color:#555;background-color:#fff;border:1px solid #ccc;border-radius:3px}
.ui-spinner .ui-spinner-box{background:0 0;border:none!important}
.dataTables_filter{float:left;margin:18px 15px 10px}
.dataTables_filter label input{border-radius:1px;background:url(../img/icons/fugue/magnifier.png) 195px no-repeat #fff}
.dataTables_length{float:right;margin:19px 20px 9px}
.dataTables_length label .selector{margin-bottom:2px}
.DTTT_container{margin:16px 15px 10px}
.dataTables_wrapper{background:#f1f1f1}
.dataTables_wrapper:after,.dataTables_wrapper:before{display:table;content:""}
.dataTables_paginate{float:right;margin-right:20px}
.dataTables_info{margin:28px;float:left}
table.table thead .sorting,table.table thead .sorting_asc,table.table thead .sorting_asc_disabled,table.table thead .sorting_desc,table.table thead .sorting_desc_disabled{cursor:pointer;padding:4px;background-color:#f3f3f3;box-shadow:inset 0 0 0 1px #fff;text-align:center;color:#666;font-weight:400;text-shadow:0 1px 0 #fff;-webkit-filter:dropshadow(color=#000000, offx=1 px, offy=1 px);filter:dropshadow(color=#000000, offx=1 px, offy=1 px)}
table.table thead .sorting{background:url(../img/sort_both.png) center right no-repeat #f3f3f3}
table.table thead .sorting_asc{background:url(../img/sort_asc.png) center right no-repeat #f3f3f3}
table.table thead .sorting_desc{background:url(../img/sort_desc.png) center right no-repeat #f3f3f3}
table.table thead .sorting_asc_disabled{background:url(../img/sort_asc_disabled.png) center right no-repeat #f3f3f3}
table.table thead .sorting_desc_disabled{background:url(../img/sort_desc_disabled.png) center right no-repeat #f3f3f3}
#image_preview{position:absolute;display:none;box-shadow:0 0 5px 1px #999;padding:2px;border-radius:2px;background:#fff}
.ico-prev{margin:0}
.ico-prev li{margin-right:2px;float:left}
.content .box-content .ui-slider-handle.ui-state-default{border:0;background:url(../img/slider.png) no-repeat}
.table-with-action .dataTables_wrapper,ul.steps{border-bottom:1px solid #bbb}
.content .box-content .ui-slider-handle.ui-state-hover{background:url(../img/slider_hover.png) no-repeat}
#tooltip{position:absolute;background:#000;opacity:.7;filter:alpha(opacity=.7);padding:5px;color:#fff}
.validate .controls .error,.wizard .controls .error{color:#B94A48}
b.error{padding:0}
.wizard{margin-bottom:0}
.wizard h4{margin:15px}
.wizard .form-actions{margin-bottom:0}
ul.steps{margin:0 0 20px;display:block;width:100%;background:#eee}
ul.steps:after,ul.steps:before{display:table;content:""}
ul.steps li{margin:0;float:left;padding:10px 20px;font-size:14px;border-right:1px solid #bbb;color:#999}
ul.steps li span{font-size:12px;display:block}
.cl:after,.cl:before,.invoice .invoice-footer:after,.invoice .invoice-footer:before,.invoice .invoice-infos:after,.invoice .invoice-infos:before,.invoice .invoice-to:after,.invoice .invoice-to:before,.userprofile.details:after,.userprofile.details:before{display:table;content:""}
ul.steps li.active{color:#b94a48;font-weight:700;background-color:#f5f5f5;background-repeat:repeat-x;box-shadow:inset 0 0 1px 1px #fff}
ul.steps li.active span{font-weight:400;color:#333}
.invoice .invoice-name{float:right;font-size:30px;color:#ddd;font-weight:700}
.invoice .invoice-infos{margin-top:30px;float:right;width:auto;text-align:right}
.invoice .invoice-infos .dl-horizontal:first-child{margin-top:0}
.invoice .invoice-from{margin-top:25px}
.invoice .invoice-to{margin-top:30px;float:left}
.invoice .table-invoice{margin-top:50px;border:1px solid #bbb}
.invoice .table-invoice thead tr th{font-weight:700;font-size:14px}
.invoice .table-invoice tbody .bottom,.invoice .table-invoice tbody .last,.invoice .table-invoice tbody .price,.invoice .table-invoice tbody .qty{text-align:center}
.invoice .table-invoice .last{font-weight:700}
.invoice .invoice-footer{margin-top:50px;float:left;padding-top:10px;width:100%;color:#777}
.userprofile.details{margin-left:15px;margin-top:26px}
.userprofile.details tr:first-child td,.userprofile.details tr:first-child th{border-top:0}
.table-detail th{width:150px}
.divide{margin:15px 0}
.fc-header{box-shadow:inset 0 0 0 1px #fff}
.fc-header .fc-button{margin-top:5px;margin-bottom:1px}
.fc-header .fc-button.fc-button-prev{margin-left:6px}
.fc-header .fc-button.fc-button-agendaDay{margin-right:6px}
.fc-header .fc-button .fc-button-effect{background:0 0;top:0}
.fc-header .fc-button .fc-button-effect span{background:0 0}
@media (max-width:1282px){.topbar form{display:none}
}
@media (max-width:979px){.mini,.navi .main-nav>li a .ico{display:none}
.uneditable-input,input[type=date],input[type=month],input[type=time],input[type=week],input[type=number],input[type=email],input[type=url],input[type=search],input[type=tel],input[type=color],input[type=text],input[type=password],input[type=datetime],input[type=datetime-local],select,textarea{width:100px!important}
.content .box .box-head ul.nav.nav-tabs li a{padding:2px 8px}
.navi{width:155px}
.navi .main-nav>li a{padding:8px 8px 8px 15px}
}
@media (max-width:767px){.content{padding:50px 20px 100px}
.style-switcher,.style-toggler{display:none}
.navi{z-index:1099;display:block;position:absolute;top:82px;border-top:1px solid #444;margin:0;width:100%;box-shadow:0 1px 5px #222}
.navi .main-nav li{margin:0;display:none}
.navi .main-nav li a,.navi .main-nav li.open a{border-radius:0}
.navi .main-nav li.active{display:block}
.navi .main-nav li .collapsed-nav{display:none;margin:0;border-radius:0}
}
@media (max-width:467px){.mobile-hide{display:none}
.login_body .wrap{width:300px;margin-top:-180px;margin-left:-150px;height:335px}
.login_body .wrap .login .email input,.login_body .wrap .login .pw input{width:100px!important}
}

/*# sourceMappingURL=style.css.map */
