.attendee>span,.depart-member .member-info span,.memberShip{white-space:nowrap;text-overflow:ellipsis}
.attendee,.attendee .tag,.attendee>img,.attendee>span,.depart-member,.depart-member>img,.video-box video{vertical-align:middle}
.depart-wrap:after,.depart-wrap:before,.top-box:after,.top-box:before{content:"";display:table;font:0/0 a}
.depart-wrap:after,.top-box:after{clear:both}
.video-main{position:absolute;padding:0;top:42px;left:0;right:0;bottom:0;overflow:auto;background:#fff}
.top-box{margin:15px}
.top-box+.table-main{margin-top:10px}
.form-row .form-info input.repeatText{width:50px;padding:4px;margin-right:10px}
.select-person{width:350px;padding:10px;margin:0;line-height:20px;text-align:right;border:1px solid #ddd;border-radius:5px;color:#999;-moz-box-sizing:border-box;box-sizing:border-box}
.form-info.search-info{margin:0}
.form-info.search-info input.input{width:100%}
.tags-wrap{padding:4px 0}
.tags-wrap .tags{display:inline-block;margin-right:5px;margin-bottom:4px;padding:5px;border:1px solid #ddd;border-radius:4px;line-height:20px}
.tags-wrap .tags a.close{margin-left:5px}
.depart-box{padding:3px 0;border-bottom:1px solid #ddd;float:left;width:50%}
.depart-box:last-child{border-bottom-color:transparent}
.depart-box .checkbox-label{display:block}
.depart-member{display:inline-block}
.depart-member>img{display:inline-block;width:39px;height:39px;margin-right:10px;border-radius:20px}
.depart-member .member-info{display:inline-block}
.depart-member .member-info span{display:inline-block;margin-right:5px;max-width:100px;overflow:hidden;vertical-align:middle}
.depart-member .member-info .position{color:#fff;display:inline-block;padding:5px;line-height:18px;border-radius:5px;font-size:12px;background:#56d1c2}
.video-ztree{height:300px;overflow:auto}
.video-ztree .ztree li a{padding-top:0}
.video-ztree .ztree li span.button.chk{float:left;margin:5px 3px 0}
.video-ztree .ztree li ul{padding-left:22px}
.memberShip{float:left;max-width:300px;overflow:hidden}
.conferences-UTitle{margin:10px 20px;font-size:16px;font-weight:700}
.conferences-room{position:relative;display:inline-block;width:250px;height:186px;margin:10px;font-size:12px;border:1px solid #ddd;line-height:24px;border-radius:4px;background-position:center;background-repeat:no-repeat;cursor:pointer}
.conferences-room:hover .conferences-default{display:none}
.conferences-room:hover .conferences-hover{display:block}
.conferences-default{text-align:center;position:absolute;width:100%;top:50%;font-size:18px;line-height:40px;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%)}
.conferences-hover{display:none;position:absolute;width:100%;height:100%;padding:5px;overflow:hidden;-moz-box-sizing:border-box;box-sizing:border-box}
.conferences-info,.videoMeeting{-moz-box-sizing:border-box;width:100%}
.conferences-hover .conferences-arrow{position:absolute;color:#fff;top:0;right:0;padding:0 4px;z-index:9}
.conferences-hover .conferences-arrow:before{position:absolute;content:'';top:0;right:0;z-index:-1;border-width:0 73px 42px 0;border-style:solid;border-color:#56d1c2 #56d1c2 transparent transparent}
.conferences-title{font-weight:700;text-align:center}
.conferences-title .conferences-hover{font-size:14px}
.conferences-link{display:inline-block;padding:0 4px;border:1px solid #56d1c2;border-radius:4px;color:#56d1c2;position:absolute;bottom:10px;left:50%;-webkit-transform:translate(-50%,0);-ms-transform:translate(-50%,0);transform:translate(-50%,0)}
.video-body,.video-list{border-bottom:1px solid #d0d0d0}
.video-dropdown,.video-name{z-index:9;border:1px solid #d0d0d0;text-align:center}
.conferences-info{position:absolute;max-height:120px;padding:0 4px;left:0;top:47%;box-sizing:border-box;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%)}
.videoMeeting{position:relative;height:100%;box-sizing:border-box}
.video-body{position:absolute;width:100%;top:0;left:0;bottom:70px}
.video-bottom{position:absolute;bottom:0;width:100%}
.video-speaker{position:absolute;left:0;top:0;bottom:0;width:75%;border-right:1px solid #d0d0d0}
.video-box{height:100%}
.video-box video{display:inline-block;width:100%;height:100%}
.video-name{position:absolute;bottom:10px;left:10px;display:inline-block;font-size:12px;line-height:24px;padding:0 5px;background:#fff;min-width:40px}
.video-name>span{position:absolute;right:0;top:0;white-space:nowrap;-webkit-transform:translate(108%,0);-ms-transform:translate(108%,0);transform:translate(108%,0)}
.video-bottom-li{display:inline-block;line-height:30px;font-size:14px;padding:4px 10px}
.video-bottom-li i.video-icon{display:block;height:30px;background-repeat:no-repeat;background-position:center;background-size:contain}
.video-dropdown{display:none;position:absolute;left:0;bottom:70px;padding:10px;background:#fff;font-size:14px;line-height:30px}
.video-dropdown>a{display:block}
.video-dropdown>a:hover{color:#56d1c2}
.video-icon-more{background-image:url(../images/video-icon-more.png)}
.video-icon-share{background-image:url(../images/video-icon-share.png)}
.video-bottom-li:hover .video-icon-share{background-image:url(../images/video-icon-share-active.png)}
.video-icon-attendee{background-image:url(../images/video-icon-attendee.png)}
.video-bottom-li:hover .video-icon-attendee{background-image:url(../images/video-icon-attendee-active.png)}
.video-icon-layout{background-image:url(../images/video-icon-layout.png)}
.video-bottom-li:hover .video-icon-layout{background-image:url(../images/video-icon-layout-active.png)}
.video-icon-voice{background-image:url(../images/video-icon-voice.png)}
.video-bottom-li:hover .video-icon-voice{background-image:url(../images/video-icon-voice-active.png)}
.video-icon-camera{background-image:url(../images/video-icon-camera.png)}
.video-bottom-li:hover .video-icon-camera{background-image:url(../images/video-icon-camera-active.png)}
.video-icon-logout{background-image:url(../images/video-icon-logout.png)}
.video-bottom-li:hover .video-icon-logout{background-image:url(../images/video-icon-logout-active.png)}
.video-icon-microphone{background-image:url(../images/video-icon-microphone.png)}
.video-bottom-li:hover .video-icon-microphone{background-image:url(../images/video-icon-microphone-active.png)}
.video-bottom-li.disabled .video-icon-voice{background-image:url(../images/video-icon-voice-disabled.png)}
.video-bottom-li.disabled:hover .video-icon-voice{background-image:url(../images/video-icon-voice-disabled-active.png)}
.video-bottom-li.disabled .video-icon-camera{background-image:url(../images/video-icon-camera-disabled.png)}
.video-bottom-li.disabled:hover .video-icon-camera{background-image:url(../images/video-icon-camera-disabled-active.png)}
.video-bottom-li.disabled .video-icon-microphone{background-image:url(../images/video-icon-microphone-disabled.png)}
.video-bottom-li.disabled:hover .video-icon-microphone{background-image:url(../images/video-icon-microphone-disabled-active.png)}
.video-list{position:absolute;top:30px;right:0;bottom:30px;width:25%}
.video-list .swiper-slide{background:0 0;border-radius:0;border-top:1px solid #d0d0d0;-moz-box-sizing:border-box;box-sizing:border-box}
.noMicrophone{position:absolute;top:10px;right:10px;width:20px;height:20px;display:inline-block;background:url(../images/video-icon-microphone-close.png) center no-repeat;background-size:contain}
.video-button-down,.video-button-up{position:absolute;width:36px;height:14px;left:50%;z-index:99;-webkit-transform:translate(-50%,0);-ms-transform:translate(-50%,0);transform:translate(-50%,0);display:inline-block}
.video-button-down{bottom:-20px}
.video-button-down:after,.video-button-down:before{content:'';position:absolute;border-width:14px 18px 0;border-style:solid}
.video-button-down:before{bottom:0;border-color:#999 transparent transparent}
.video-button-down:after{bottom:1px;border-color:#fff transparent transparent}
.video-button-up{top:-20px}
.video-button-up:after,.video-button-up:before{content:'';position:absolute;border-width:0 18px 14px;border-style:solid}
.video-button-up:before{top:0;border-color:transparent transparent #999}
.video-button-up:after{top:1px;border-color:transparent transparent #fff}
.box-layer,.box-layer-body{top:0;height:100%;position:absolute}
.box-layer{display:none;left:0;width:100%;z-index:99;background:rgba(0,0,0,.5)}
.box-layer-body{right:0;width:40%;min-width:400px;background:#fff}
.box-right-info{position:absolute;top:50px;bottom:0;width:100%;left:0;overflow:auto}
.box-title{padding:4px 10px;font-size:16px;line-height:40px;border-bottom:1px solid #d0d0d0}
.attendee,.box-row,.box-title>a.link,.box-top{font-size:14px}
.box-row{line-height:30px;padding:4px 10px}
.box-name{float:left;width:90px}
.video-icon-camera-close,.video-icon-camera-open,.video-icon-microphone-close,.video-icon-microphone-open,.video-icon-speaker-close,.video-icon-speaker-open{width:24px;height:24px;background-position:center;background-repeat:no-repeat;background-size:contain;display:inline-block}
.box-content{margin-left:90px;min-height:30px}
.box-top{padding:10px;line-height:35px}
.video-icon-speaker-open{background-image:url(../images/video-icon-speaker-open.png)}
.video-icon-speaker-close{background-image:url(../images/video-icon-speaker-close.png)}
.video-icon-camera-open{background-image:url(../images/video-icon-camera-open.png)}
.video-icon-camera-close{background-image:url(../images/video-icon-camera-close.png)}
.video-icon-microphone-open{background-image:url(../images/video-icon-microphone-open.png)}
.video-icon-microphone-close{background-image:url(../images/video-icon-microphone-close.png)}
.attendee{padding:5px 10px;line-height:40px}
.attendee .tag{display:inline-block;line-height:24px;border:1px solid #d0d0d0;margin:auto 2px;padding:0 5px;font-size:12px;border-radius:4px}
.attendee .tag.tag-manager{background:#ffb258;color:#fff;border-color:#ffb258}
.attendee .tag .tag-speaker{background:#56d1c2;color:#fff;border-color:#56d1c2}
.attendee>span{margin-right:5px;display:inline-block;max-width:70px;overflow:hidden}
.attendee>img{width:40px;height:40px}
.attendee>.fr{margin-top:8px}

/*# sourceMappingURL=videoconferences.css.map */
