.dropList__menu,.dropdowns__menu,.wxModal{right:0;box-shadow:0 0 15px rgba(0,0,0,.5)}
.crumbs,.dropList__menu,.dropdowns__menu,.wxtable-wrap td,.wxtable-wrap th{white-space:nowrap}
.wxCount__itemTitle.totalbox .item-title{width:24%;border-width:1px;text-align:left;padding:25px 15px;display:-webkit-inline-box;display:-webkit-inline-flex;display:-moz-inline-box;display:-ms-inline-flexbox;display:inline-flex;-moz-box-sizing:border-box;box-sizing:border-box;line-height:50px;cursor:default}
.wxCount__itemTitle.totalbox .item-title .item-num{font-size:16px;font-weight:400}
.wxCount__itemTitle .item-name{display:inline-block}
.wxCount__itemTitle .item-num{float:right;color:#50d2c2}
.wxCount__itemTitle .item-num strong{font-weight:bolder;font-size:18px}
.crumbs,.dropdowns__btn{display:inline-block;font-size:14px;line-height:30px}
.crumbs{color:#999}
.crumbs a:after{content:'>';display:inline-block;margin-left:5px;color:#999}
.dropList__btn label:after,.dropList__btn label:before,.message:after,.message:before,.tag-bot-li.active:after,.wxLine-li:before,.wxLine-time:after{content:''}
.wxCount__tabBox.tabBox ul{float:right}
.wxCount__tabBox.tabBox ul li a{min-width:27px;padding:0 15px;background:#f2f3f7;color:#999;border-radius:15px}
.wxCount__tabBox.tabBox ul li a.current,.wxCount__tabBox.tabBox ul li a:hover{background:#50d2c2;color:#fff}
.wxIcon{display:inline-block;width:50px;height:50px;background-size:contain;background-position:center;background-repeat:no-repeat}
.wxIcon.icon_user{background-image:url(../images/icon_lianxiren.png)}
.wxIcon.icon_call{background-image:url(../images/icon_goutong.png)}
.wxIcon.icon_message{background-image:url(../images/icon_xiaoxi.png)}
.wxIcon.icon_money{background-image:url(../images/icon_hongbao.png)}
.dropdowns{display:inline-block;position:relative}
.dropdowns--right{float:right;margin-top:-7px}
.dropdowns__btn{min-width:30px;padding:0 30px 0 10px;position:relative;background:#50d2c2;color:#fff;border-radius:5px;-moz-box-sizing:border-box;box-sizing:border-box}
.dropdowns__btn span{position:absolute;right:0;top:0;width:20px;height:100%;margin:0!important;padding:0!important;border-left:1px solid #4bc2b3}
.dropdowns__btn span:after,.dropdowns__btn span:before{content:'';position:absolute;border-style:solid;left:3px;border-width:5px 5px 0}
.dropdowns__btn span:after{top:11px;border-color:#50d2c2 transparent}
.dropdowns__btn span:before{top:13px;border-color:#fff transparent transparent}
.dropdowns__menu{position:absolute;display:none;top:32px;padding:5px 0;min-width:150px;z-index:9;background:#fff;font-size:12px;color:#666;line-height:32px;border-radius:5px}
.dropList,.dropList__btn{position:relative}
.dropdowns__menu li{padding:0 15px;cursor:pointer}
.dropdowns__menu li.active,.dropdowns__menu li:hover{background:#edf0f3}
.dropdowns--active .dropdowns__menu{display:block}
.dropList,.dropList__btn,.searchBox,.wxModal__user span{display:inline-block}
.dropdowns--active .dropdowns__btn span:after,.dropdowns--active .dropdowns__btn span:before{border-width:0 5px 5px}
.dropdowns--active .dropdowns__btn span:after{top:13px;border-color:#50d2c2 transparent}
.dropdowns--active .dropdowns__btn span:before{top:11px;border-color:transparent transparent #fff}
.crumbs+.searchBox{margin-top:0;margin-left:10px;vertical-align:top}
.contentSelect{padding:0 20px;font-weight:400;font-size:14px}
.dropList__btn{min-width:30px;padding:0 30px 0 10px;color:#383838;font-size:14px;line-height:30px;-moz-box-sizing:border-box;box-sizing:border-box}
.dropList__btn label{position:absolute;right:0;top:0;width:20px;height:100%}
.dropList__btn label:after,.dropList__btn label:before{position:absolute;border-style:solid;left:3px;border-width:5px 5px 0}
.dropList__btn label:after{top:11px;border-color:#fff transparent}
.dropList__btn label:before{top:13px;border-color:#777 transparent transparent}
.dropList__menu{position:absolute;display:none;top:32px;padding:5px 0;min-width:150px;z-index:9;background:#fff;font-size:12px;color:#666;line-height:32px;border-radius:5px}
.dropList__menu li{padding:0 15px}
.dropList__menu li.active,.dropList__menu li:hover{background:#edf0f3}
.dropList--active .dropList__menu{display:block}
.dropList--active .dropList__btn label:after,.dropList--active .dropList__btn label:before{border-width:0 5px 5px}
.dropList--active .dropList__btn label:after{top:13px;border-color:#fff transparent}
.dropList--active .dropList__btn label:before{top:11px;border-color:transparent transparent #777}
.listHead{max-width:42px;max-height:42px;margin:10px 0;vertical-align:middle;border-radius:30px}
.talkUserHead,.wxModal__user .wxHead,.wxUserList .user .wxHead{max-width:40px;max-height:40px}
.wxModal{width:980px;min-height:550px;height:80%;position:fixed;z-index:999;top:0;bottom:0;left:0;margin:auto;background:#fff;border-radius:5px}
.wxModal__close{position:absolute;z-index:9;top:15px;right:15px;color:#000;font-size:24px;line-height:.6}
.wxModal__left{width:280px;position:relative;float:left;height:100%;overflow:auto;border-right:1px solid #eceff9}
.wxModal__left .form-info input[type=text]{width:180px}
.wxModal__left .form-control:last-child{margin-right:0}
.wxModal__right{position:relative;margin-left:280px;height:100%;overflow:auto}
.wxModal__user{margin:15px 20px;vertical-align:bottom}
.wxModal__user .wxHead{vertical-align:middle;border-radius:4px}
.wxModal__user span{line-height:40px;margin-left:10px}
.wxSearch{margin:0 20px;position:relative}
.wxSearch input[type=text]{width:100%;padding:0 18px;height:28px;border:1px solid #d4d4d4;border-radius:14px;-moz-box-sizing:border-box;box-sizing:border-box}
.wxSearch a.search-icon{z-index:88;display:block;width:15px;height:15px;background:url(../images/search-icon.png) no-repeat;position:absolute;right:10px;top:8px}
.wxUserList{position:absolute;width:100%;bottom:0;left:0;top:110px;overflow:auto}
.wxUserList .user{padding:10px 20px}
.wxUserList .user.active,.wxUserList .user:hover{background:#ebebeb}
.wxUserList .user .wxHead{float:left;border-radius:4px}
.user__content{margin-left:50px;line-height:20px;font-size:14px}
.user__content .user__name{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.user__content .user__message{font-size:12px;color:#999}
.user__content .user__message span{display:inline-block;margin-left:15px}
.wxTitle{font-size:16px;margin:20px}
.wxModal__search{margin:0 20px;padding-bottom:10px;border-bottom:1px solid #ebebeb}
.wxModal__search .btn{width:auto;padding:0 15px}
.wxModal__search .wxSearch{float:right;margin:0}
.time__wrap{position:relative;display:inline-block;font-size:14px;line-height:30px}
.time__wrap input[type=text]{position:relative;width:135px;height:30px;padding:0 15px;border:1px solid #e7e7e7;-moz-box-sizing:border-box;box-sizing:border-box;border-radius:15px}
.time__wrap .time-icon{display:block;position:absolute;top:5px;right:12px}
.wxContent__main{position:absolute;bottom:58px;top:105px;left:20px;right:20px;padding:10px;overflow:auto}
.wxContent__main+.page{position:absolute;bottom:0;width:100%;padding:0 15px;-moz-box-sizing:border-box;box-sizing:border-box}
.wxTalk{margin-bottom:16px}
.wxTalk__left .talkUserHead{float:left}
.wxTalk__left .wxTalk__content{text-align:left;margin-left:50px}
.wxTalk__right .talkUserHead{float:right}
.wxTalk__right .wxTalk__content{text-align:right;margin-right:50px}
.message{position:relative;display:inline-block;padding:9px 13px;min-height:40px;max-width:500px;word-break:break-all;word-wrap:break-word;line-height:22px;-moz-box-sizing:border-box;box-sizing:border-box;text-align:left;border-radius:5px}
.cell-box,.cell-content{-moz-box-sizing:border-box}
.message:after,.message:before{position:absolute;top:14px;border:6px solid transparent}
.wxTalk__right .message:after,.wxTalk__right .message:before{left:100%}
.wxTalk__left .message:after,.wxTalk__left .message:before{right:100%}
.wxTalk__left .message{background:#eaf1fa}
.wxTalk__right .message{background:#b2e281}
.wxTalk__right .message:after{border-left-width:4px;border-left-color:#b2e281}
.wxTalk__left .message:after{border-right-width:4px;border-right-color:#eaf1fa}
.message.voice{position:relative;max-width:300px;min-width:60px;cursor:pointer;padding:5px 13px}
.message.voice i.voice__icon{display:inline-block;width:18px;height:24px;background-image:url(../images/radio.png);background-repeat:no-repeat;background-position:bottom}
.message.voice i.voice__icon.play{background-image:url(../images/voice.gif)}
.wxTalk__right .message.voice i.voice__icon{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg);background-position:top}
.message.voice .voice__time{position:absolute;right:-77px;line-height:30px;width:55px;color:#888;cursor:default}
.wxTalk__right .message.voice .voice__time{left:-77px;right:auto;text-align:right}
.wxTalk__line{text-align:center;margin:10px auto;padding:1px 18px;font-size:12px;color:#b2b2b2}
.wxAudioWrap{display:none}
.rightPage.tagTop{padding:0}
.right-content{position:absolute;top:42px;left:0;right:0;bottom:0;overflow:auto}
.wechatWrap{display:block}
.wechatWrap .tabBox{border-bottom:0}
.cell-title,.tag-bot,.wechatWrap .table-tlt{border-bottom:1px solid #e7e7e7}
.wechatWrap .tabBox ul{display:inline-block}
.wechatWrap .tabBox+.wxtable-wrap>.table{top:70px}
.cell-wrap{margin:20px auto;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex}
.cell-box{-webkit-box-flex:1;-webkit-flex:1;-moz-box-flex:1;-ms-flex:1;flex:1;padding:0 10px;box-sizing:border-box}
.cell-content{height:100%;box-sizing:border-box;border:1px solid #e7e7e7}
.cell-title{position:relative;padding-left:50px;line-height:49px;font-size:16px;font-weight:700}
.cell-title .icon{position:absolute;top:12px;left:15px;width:24px;height:24px;background-repeat:no-repeat;background-size:contain}
.icon-cell1{background-image:url(../images/wxIcon1.png)}
.icon-cell2{background-image:url(../images/wxIcon2.png)}
.icon-cell3{background-image:url(../images/wxIcon3.png)}
.icon-cell4{background-image:url(../images/wxIcon4.png);width:26px}
.icon-cell5{background-image:url(../images/wxIcon5.png);width:26px}
.cell-main{padding:15px;line-height:30px;font-size:14px;color:#333}
.border-wrap{padding:0 15px;border:1px solid #e7e7e7}
.right-content .tag-bot{margin:10px}
.tag-bot-li{display:inline-block;position:relative;padding:0 20px;font-size:14px;line-height:55px;color:#666;cursor:pointer}
.tag-bot-li.active{color:#50d2c2}
.tag-bot-li.active:after{position:absolute;bottom:-1px;left:0;width:100%;height:2px;background:#50d2c2}
.chart-box{position:relative;height:400px}
.chart-box .charts{height:100%}
.icon-state{display:inline-block;width:14px;height:14px;margin-right:5px;vertical-align:middle;border-radius:7px;background:#999}
.icon-state.state-on{background:#ffb358}
.wxtable-wrap .table{position:absolute;width:100%;top:0;bottom:58px;overflow:auto;border-top:2px solid #50d2c2}
.wxleft-wrap,.wxmain,.wxtable-wrap .page{position:absolute;bottom:0}
.wxtable-wrap .page{width:100%}
.wxtable-wrap td{padding:10px;vertical-align:middle;line-height:24px}
.wxtable-wrap td .href{margin:0 5px}
.wxtable-wrap td span.tag{display:table-caption;padding:0 10px;margin:3px auto;border-radius:5px}
.wxtable-wrap td span.tag.tag-warning{background:#ffebd4;color:#ffb358}
.wxtable-wrap td span.tag.tag-primary{background:#e0fcf9;color:#56d1c2}
.wxtable-wrap td.td-tagBox{padding:5px 10px}
.wxtable-wrap .td-normal{white-space:normal;min-width:150px}
.state-on{color:#ffb358}
.state-off{color:#999}
.wxmain{top:0;left:0;right:0}
.wxleft-wrap{top:0;left:0;width:70px;font-size:18px;text-align:center;color:#fff;background:#414549}
.wxright-wrap{position:relative;margin-left:70px;height:100%}
.wxContent-wrap,.wxDetail{position:absolute;bottom:0}
.wxleft-head{width:44px;height:44px;margin:22px auto 10px;border-radius:4px;background-repeat:no-repeat;background-size:cover}
.wxleft-href{display:block;margin:10px 0;padding:10px 0}
.friend-img,.progress>li,.wxLine-time,.wxleft-href i.icon{display:inline-block}
.wxleft-href i.icon{width:26px;height:26px;background-repeat:no-repeat;background-size:contain}
.wxleft-href.active .icon-wxmessage{background-image:url(../images/wxMessage-active.png)}
.wxleft-href.active .icon-wxfriend{background-image:url(../images/wxFriend-active.png)}
.icon-wxmessage{background-image:url(../images/wxMessage.png)}
.icon-wxfriend{background-image:url(../images/wxFriend.png)}
.wxright-wrap .wxModal__left .wxSearch{padding:20px 0 10px}
.wxright-wrap .wxUserList{top:100px}
.wxright-wrap .tag-bot{overflow:hidden}
.wxright-wrap .tag-bot .tag-bot-li{float:left;width:50%;-moz-box-sizing:border-box;box-sizing:border-box;text-align:center;line-height:36px}
.wxContent-wrap{top:100px;left:0;right:0}
.wxContent-wrap.wxcontentLeft{right:500px}
.wxContent-wrap .wxContent__main{top:0;left:0;right:0}
.wxContent-wrap .message{max-width:80%}
.wxDetail{width:500px;top:100px;right:0;overflow:auto;border-left:1px solid #e7e7e7}
.wxDetail-message{padding:0 20px}
.wxDetail-message .time_btn{vertical-align:top}
.progress-state{float:right;padding:0 5px;background:#50d2c2;color:#fff;border-radius:4px}
.wxDetail-row{margin:10px 0;font-size:12px;line-height:30px;overflow:hidden}
.wxDetail-row .wxDetail-text{margin-right:10px;font-size:14px}
.wxDetail-row.wxText-show{line-height:20px}
.wxDetail-name{float:left;width:75px;text-align:right}
.wxDetail-info{margin-left:85px}
.wxDetail-info input[type=submit],.wxDetail-info input[type=button]{width:auto;padding:0 10px}
.wxDetail-info input[type=text]{width:100%;padding:0 10px;height:30px;border:1px solid #e7e7e7;border-radius:4px;-moz-box-sizing:border-box;box-sizing:border-box}
.wxLine-li{position:relative;padding:10px 15px 10px 50px;font-size:14px}
.wxLine-li:before{position:absolute;left:23px;top:0;height:100%;border:1px solid #e7e7e7}
.wxLine-li .icon{position:absolute;width:30px;height:30px;top:10px;left:10px;background-repeat:no-repeat;background-size:contain}
.wxLine-li .icon.icon-point{width:6px;height:6px;left:21px;top:19px;background:#56d1c2;border-radius:5px}
.wxLine-li .icon-wxLine1{background-image:url(../images/timeLine1.png)}
.wxLine-li .icon-wxLine2{background-image:url(../images/timeLine2.png)}
.wxLine-li .icon-wxLine3{background-image:url(../images/timeLine3.png)}
.wxLine-li .icon-wxLine4{background-image:url(../images/timeLine4.png)}
.wxLine-li .icon-wxLine5{background-image:url(../images/timeLine5.png)}
.wxLine-li .icon-wxLine6{background-image:url(../images/timeLine6.png)}
.wxLine-li .icon-wxLine7{background-image:url(../images/timeLine7.png)}
.wxLine-li .icon-wxLine8{background-image:url(../images/timeLine8.png)}
.wxLine-li .icon-wxLine9{background-image:url(../images/timeLine9.png)}
.wxLine-time{position:relative;padding:5px 10px;background:#56d1c2;border-radius:4px;font-size:12px;color:#fff}
.wxLine-time:after{position:absolute;top:6px;left:-6px;border-width:6px 6px 6px 0;border-style:solid;border-color:transparent #56d1c2}
.wxLine-main{padding:10px 15px;border:1px solid #d4d4d4;border-radius:5px;background:#f0fdfb;line-height:30px}
.wxLine-title{font-size:16px;font-weight:700}
.wxLine-title span{margin-right:5px}
.wxLine-title .wxLine-follow{color:#ffb45c}
.wxLine-text .audio{position:relative;vertical-align:sub}
.wxLine-state-active{color:#56d1c2}
.wxLine-message{padding:10px}
.wxLine-message>.wxDetail-title{border-top:1px solid #e7e7e7}
.wxLine-message>.wxDetail-title:first-child{border:0}
.wxDetail-title{padding:10px;font-size:14px}
.wxright-title{padding:15px;line-height:24px;font-size:14px;border-bottom:1px solid #e7e7e7}
.wxright-friends{position:absolute;padding:10px 60px;top:55px;bottom:0;left:0;right:0;overflow:auto}
.friend-href,.friends-li{overflow:hidden}
.friends-li{margin:20px auto}
.friends-time{font-weight:700;font-size:26px;float:left;width:70px;text-align:right}
.progress,.progress>li,.wxlegend,.wxmap-city{text-align:center}
.friends-time>span{font-size:14px}
.friends-main{margin-left:80px;font-size:16px;line-height:26px}
.friend-href,.friend-text{padding:10px;background:#ececec}
.friend-href .friend-img{width:74px;height:74px;float:left;line-height:74px;margin-right:10px;margin-top:0}
.friend-href-main{margin-left:74px}
.friend-href-text{font-size:12px;color:#666}
.friend-img{width:110px;height:110px;margin-right:10px;margin-top:10px;line-height:110px}
.friend-img img{max-width:100%;max-height:100%;vertical-align:middle}
@-webkit-keyframes load{0%{stroke-dashoffset:0}
}
.progress{position:relative;padding:0;margin-bottom:20px}
.progress>li{position:relative;color:#333;max-width:166px;width:32%}
.progress>li:before{content:attr(data-name);position:absolute;width:100%;bottom:-16px;font-size:14px}
.progress>li:after{content:attr(data-percent);position:absolute;width:100%;top:0;left:0;font-size:20px;line-height:166px;text-align:center}
.progress svg{width:100%;height:166px}
.progress svg:nth-child(2){position:absolute;left:0;top:0;-webkit-transform:rotate(-90deg);-ms-transform:rotate(-90deg);transform:rotate(-90deg)}
.progress svg:nth-child(2) path{fill:none;stroke-width:25;stroke-dasharray:629;stroke:#fff;opacity:1;-webkit-animation:load 2s;animation:load 2s}
.friend-top{display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;margin:0 -10px}
.friend-left-count{-webkit-box-flex:1;-webkit-flex:1;-moz-box-flex:1;-ms-flex:1;flex:1;margin:0 10px;padding:10px;border:1px solid #e7e7e7}
.friend-left-count .charts{height:300px}
.friend-count-title{margin-bottom:10px;font-size:16px;color:#666}
.wxCount-tag-main{padding:10px}
.wxlegend{margin:10px auto}
.wxlegend label{display:inline-block;margin-right:10px;font-size:12px;color:#d4d4d4}
.wxlegend label i.icon{display:inline-block;width:25px;height:14px;margin-right:5px;vertical-align:sub;border-radius:4px}
.wxlegend label .icon-famale{background:#ff9f7e}
.wxlegend label .icon-male{background:#32abff}
.wxlegend label .icon-gender{background:#909090}
.friend-map,.wxchart-count{padding:10px;margin:10px auto;border:1px solid #e7e7e7}
.friend-map .charts,.wxchart-count .charts{height:400px}
.wxmap-city{position:absolute;-moz-box-sizing:border-box;box-sizing:border-box;width:50px;height:50px;padding:5px 0;border-radius:30px;background:#56d1c2;color:#fff;font-size:12px;line-height:20px}
.wxmap-city span{display:block}
.wxmap-city:hover{background:rgba(193,39,45,.7);z-index:99999999!important}
@keyframes load{0%{stroke-dashoffset:0}
}
.wxLoad{position:absolute;bottom:25px;left:20px;width:25px;height:25px;background:url(../images/refresh.png) no-repeat;background-size:contain}
.wxLoad.refreshLoad{-webkit-animation:load 1s linear infinite;animation:load 1s linear infinite}
.wechatAdd{color:#56d1c2}
.wx-table-editor{display:block;-moz-box-sizing:border-box;box-sizing:border-box}
.wechat-icon-editor{display:inline-block;width:19px;height:19px;vertical-align:middle;background:url(../images/edit-com.png) no-repeat;background-size:contain}
.wx-input{width:80%;min-width:50px;padding:5px 10px;border:1px solid #ddd;border-radius:5px;-moz-box-sizing:border-box;box-sizing:border-box}

/*# sourceMappingURL=wxStyle.css.map */
