.ztree li a,.ztree li span.button{vertical-align:top;cursor:pointer}
.ztree li a.tmpTargetNode_inner,ul.tmpTargetzTree,ul.ztree.zTreeDragUL{opacity:.8;filter:alpha(opacity=80)}
.ztree a,.ztree a:active,.ztree a:hover,.ztree a:link,.ztree li a{text-decoration:none}
.ztree *{padding:0;margin:0;font-size:12px}
.ztree{margin:0;padding:5px;color:#333}
.ztree li{padding:0;margin:0;list-style:none;line-height:30px;text-align:left;white-space:nowrap;outline:0}
.ztree li ul{margin:0;padding:0 0 0 18px}
.ztree li ul.level1{background:#f4f6f9}
.ztree li a{display:block;padding:1px 3px 0 0;color:#333;background-color:transparent}
.ztree li a.staff__user{font-weight:400}
.ztree li a.staff__user .node_name{max-width:88%;font-weight:400}
.ztree li a.curSelectedNode_Edit{background-color:#ffe6b0;color:#000}
.ztree li a.tmpTargetNode_inner{padding-top:0;background-color:#316ac5;color:#fff;border:1px solid #316ac5}
.ztree li a input.rename{width:80px;padding:0;margin:0;font-size:12px;border:1px solid #7ec4cc}
.ztree li span{margin-right:2px}
.ztree li span.button{line-height:0;margin:4px 2px 0;width:24px;height:24px;display:inline-block;border:0;outline:0;background-color:transparent;background-repeat:no-repeat;background-attachment:scroll;background-position:center}
.ztree li span.button.chk{float:right;width:16px;margin:0 10px 0 0;cursor:auto}
.taskStaff__select .ztree li span.button.chk{margin-top:3px}
.ztree li span.button.chk.checkbox_false_full{background-image:url(../images/checkbox1.png)}
.ztree li span.button.chk.checkbox_false_full_focus{background-image:url(../images/checkbox1.png)}
.ztree li span.button.chk.checkbox_false_part{background-image:url(../images/checkbox1.png)}
.ztree li span.button.chk.checkbox_false_part_focus{background-image:url(../images/checkbox1.png)}
.ztree li span.button.chk.checkbox_false_disable{background-image:url(../images/ztree-disabled.png)}
.ztree li span.button.chk.checkbox_true_full{background-image:url(../images/checkbox2.png)}
.ztree li span.button.chk.checkbox_true_full_focus{background-image:url(../images/checkbox2.png)}
.ztree li span.button.chk.checkbox_true_part{background-image:url(../images/choose-all.gif)}
.ztree li span.button.chk.checkbox_true_part_focus{background-image:url(../images/choose-all.gif)}
.ztree li span.button.chk.checkbox_true_disable{background-image:url(../images/ztree-checked-disabled.png)}
.ztree li span.button.chk.radio_false_full,.ztree li span.button.chk.radio_false_full_focus{background-image:url(../images/radio_1.png)}
.ztree li span.button.chk.radio_true_full,.ztree li span.button.chk.radio_true_full_focus{background-image:url(../images/radio_2.png)}
.ztree li span.button.switch{width:18px;height:24px;float:left}
.ztree li span.button.add,.ztree li span.button.edit,.ztree li span.button.remove{width:12px;height:25px;vertical-align:top}
.ztree li span.button.root_open{background-image:url(../images/ztree-up.png)}
.ztree li span.button.root_close{background-image:url(../images/ztree-down.png)}
.ztree li span.button.roots_open{background-image:url(../images/ztree-up.png)}
.ztree li span.button.roots_close{background-image:url(../images/ztree-down.png)}
.ztree li span.button.center_open{background-image:url(../images/ztree-up.png)}
.ztree li span.button.center_close{background-image:url(../images/ztree-down.png)}
.ztree li span.button.bottom_open{background-image:url(../images/ztree-up.png)}
.ztree li span.button.bottom_close{background-image:url(../images/ztree-down.png)}
.ztree li span.button.noline_open{background-position:-92px -72px}
.ztree li span.button.noline_close{background-position:-74px -72px}
.ztree li span.button.root_docu{background:0 0}
.ztree li span.button.roots_docu{background-position:-56px 0}
.ztree li span.button.center_docu{background-position:-56px -18px;display:none}
.ztree li span.button.bottom_docu{background-position:-56px -36px;display:none}
.ztree li span.button.noline_docu{background:0 0}
.ztree li span.button.ico_open{background-image:url(../images/ztree-open.png)}
.ztree li span.button.ico_close{background-image:url(../images/ztree-close.png)}
.ztree li span.button.edit{background-image:url(../images/manage-editor.png)}
.ztree li span.button.remove{background-image:url(../images/manage-close.png)}
.ztree li span.button.add{background-image:url(../images/manage-add.png)}
ul.tmpTargetzTree{background-color:#ffe6b0}
span.tmpzTreeMove_arrow{width:16px;height:16px;display:inline-block;padding:0;margin:2px 0 0 1px;border:0;position:absolute;background-color:transparent;background-repeat:no-repeat;background-attachment:scroll}
.zTreeMask,ul.ztree.zTreeDragUL{background-color:#cfcfcf;position:absolute}
ul.ztree.zTreeDragUL{margin:0;padding:0;width:auto;height:auto;overflow:hidden;border:1px dotted #00b83f}
.zTreeMask{z-index:10000;opacity:0;filter:alpha(opacity=0)}
.node_name{display:inline-block;vertical-align:top}
.ztree ul.line{height:auto;overflow:visible;width:auto;background:0 0}

/*# sourceMappingURL=zTreeStyle.css.map */
